{% extends "base.html" %}
{% block page_title %}언론보도 제목{% endblock page_title %}
{% block head_info %}
    <meta name="title" content="광덕안정치과의원 커뮤니티" />
    <meta name="keywords" content="광덕안정치과의원,광덕안정,치과,치과병원" />
    <meta name="description" content="광덕안정치과의원 커뮤니티 페이지" />
    <meta name="subject" content="광덕안정치과의원" />
    <meta property="og:title" content="광덕안정치과의원" />
    <meta property="og:description" content="광덕안정치과의원" />
    <meta name="twitter:title" content="광덕안정치과의원" />
    <meta name="twitter:description" content="광덕안정치과의원 커뮤니티 페이지" />
    <link rel="stylesheet" href="//cdn.gdajdental.gdaj/css/sub.css" />
{% endblock head_info %}


{% block body_info %}
        <div class="container">
            <div class="pagetop pagetop1">
                <div class="page_hgroup com">
                    <h1>커뮤니티</h1>
                    <ul class="catewrap">
                        <li class="category ">
                            <a href="#">공지사항 / 이벤트</a>
                        </li>
                        <li class="category">
                            <a href="#">치료 전후사진</a>
                        </li>
                        <li class="category">
                            <a href="#">온라인상담</a>
                        </li>
                        <li class="category active">
                            <a href="#">언론보도</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <article class="contents">
            <div class="center">
                <h1 class="subtitle">언론보도</h1>
                <!-- 언론보도 박스 시작 -->
                <div class="no_info">
                    <table>
                        <caption>언론보도 게시글</caption>
                        <colgroup>
                            <col class="w_185">
                            <col class="w_820">
                            <col class="w_195">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="col1 padding_15">
                                    <p class=" w_185 text_overflow">조세금융신문</p>
                                </td>
                                <td class="col2">
                                    <p>광덕안정치과 원데이 미백 프로그램 이벤트</p>
                                </td>
                                <td class="col3 w_195 ">2021-08-31</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="no_conts no_conts2">
                    <img src="//cdn.gdajdental.gdaj/img/doc.png" alt="원데이 미백 프로그램" />
                    <p>
                        &lt;조세금융신문&gt;  <br/><br/>
                    </p>
                    <p>
                        사람마다 피부색이 다르듯 치아색도 서로 다르다. 어릴 적 깨끗했던 치아도 세월을 거치며 누렇게 변하기 십상이다. <br/>
                        이미지가 경쟁력이 되는 요즘, 누런 치아는 자칫 호감을 깎는 마이너스 요인이 될 수 있다. <br/>
                        이에 좋은 인상을 만들고 싶을 때 가장 먼저 고려해 볼만한 시술 중 하나가 바로 치아미백이다... 
                    </p>
                </div>
                <div class="top">
                    <div class="ltext">
                        <p>의료법 제 5장 56조에 의거하여 기사 전문을 올릴 수 없습니다.</p>
                        <p>우측 링크를 통해 해당 기사를 안내해 드리니 양해 부탁드립니다.</p>
                    </div>
                    <div class="gobtn">
                        <a href="#">
                            <span class="listbtn">기사 보러가기</span>
                        </a>
                    </div>
                </div>
                <div class="bot">
                    <a href="#">
                        <span class="listbtn">목록</span>
                    </a>
                </div>
            </div>
        </article>
{% endblock body_info %}