{% extends "base.html" %}
{% load static %}
{% block page_title %}공지사항/이벤트{% endblock page_title %}
{% block head_info %}
    <meta name="title" content="광덕안정치과의원 공지사항/이벤트" />
    <meta name="keywords" content="광덕안정치과의원,광덕안정,치과,치과병원" />
    <meta name="description" content="광덕안정치과의원 공지사항/이벤트 페이지" />
    <meta name="subject" content="광덕안정치과의원" />
    <meta property="og:title" content="광덕안정치과의원 공지사항/이벤트" />
    <meta property="og:description" content="광덕안정치과의원 공지사항/이벤트 페이지" />
    <meta name="twitter:title" content="광덕안정치과의원 공지사항/이벤트" />
    <meta name="twitter:description" content="광덕안정치과의원 공지사항/이벤트 페이지" />
    {% include "mixins/sub_style.html" %}
{% endblock head_info %}

{% block body_info %}
        <div class="container">
            <div class="pagetop pagetop1">
                <div class="page_hgroup com">
                    <h1>커뮤니티</h1>
                    <ul class="catewrap">
                        <!-- 활성화시 class.active 효과 추가해주세요 -->
                        <li class="category active">
                            <a href="/posts/notice">공지사항 / 이벤트</a>
                        </li>
                        <li class="category">
                            <a href="/posts/beforeafter">치료 전후사진</a>
                        </li>
                        <li class="category">
                            <a href="/posts/qna">온라인상담</a>
                        </li>
                        <li class="category">
                            <a href="/posts/news">언론보도</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contents subnotice">
            <div class="center">
                <h1 class="subtitle">공지사항/이벤트</h1>
                <!-- 게시판 목록 시작 -->
                <div class="nolist">
                    <!-- 게시판 페이지 정보 및 버튼 시작 -->
                    <div id="no_btn_top">
                        <div class="no_list_total">
                            <span>
                                총
                                <span>{{notices.count}}</span>
                                건
                            </span>
                        </div>
                        <form type="GET" action="/posts/notice/search" id="search-box">
                            <ul>
                                <li class="fir">
                                    <select name="c" class="selbox" form="search-box">
                                        <option value="all">전체</option>
                                        <option value="공지">공지</option>
                                        <option value="이벤트">이벤트</option>
                                    </select>
                                </li>
                                <li class="sec">
                                    <input class="sch_input" type="text" name="q" value placeholder="검색">
                                    <a href type="submit">
                                        <button style="cursor: pointer;">
                                            <img src="{% static "img/assets/search.png" %}" alt="검색 버튼" />
                                        </button>
                                    </a>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div class="tbl_wrap">
                        <table>
                            <caption>공지사항/이벤트 목록</caption>
                            <colgroup>
                                <col class="w_120">
                                <col class="w_760">
                                <col class="w_200">
                                <col class="w_120">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>날짜</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for notice in notices %}
                                    {% include 'mixins/notice_list.html' with notice=notice %}
                                {% endfor %}
                                {% comment %} <tr>
                                    <td>공지</td>
                                    <td class="title">
                                        <a href="#">
                                            <p class="text_overflow w_760">
                                                [안내] 코로나 19, 광덕안정치과병원은 안전합니다-Ⅱ[안내] 코로나 19, 광덕안정치과병원은 안전합니다-Ⅱ[안내] 코로나
                                                19, 광덕안정치과병원은 안전합니다-Ⅱ광덕안정치과광덕안정치과광덕안정치과광덕안정치과 오픈 이벤트 안내
                                            </p>
                                        </a>
                                    </td>
                                    <td>
                                        <p class="text_overflow w_200">
                                            광덕안정치과광덕안정치과광덕안정치과광덕안정치과광덕안정치과광덕안정치과광덕안정치과광덕안정치과
                                        </p>
                                    </td>
                                    <td>2021.08.31</td>
                                </tr>
                                <tr>
                                    <td>공지</td>
                                    <td class="title">
                                        <a href="#">
                                            <p class="text_overflow w_760">
                                                [안내] 코로나 19, 광덕안정치과병원은 안전합니다-Ⅱ[안내] 코로나 19
                                            </p>
                                        </a>
                                    </td>
                                    <td>
                                        <p class="text_overflow w_200">
                                            광덕안정치과
                                        </p>
                                    </td>
                                    <td>2021.08.31</td>
                                </tr> {% endcomment %}
                            </tbody>
                        </table>
                        {% include "mixins/paging.html" %}
                    </div>
                </div>
            </div>
        </div>
{% endblock body_info %}
{% block sub_script %}
    {% include "mixins/sub_script.html" %}
{% endblock sub_script %}