{% extends "base.html" %}
{% block page_title %}온라인 상담 내용{% endblock page_title %}
{% block head_info %}
    <meta name="title" content="광덕안정치과의원 온라인상담" />
    <meta name="keywords" content="광덕안정치과의원,광덕안정,치과,치과병원" />
    <meta name="description" content="광덕안정치과의원 온라인상담 페이지" />
    <meta name="subject" content="광덕안정치과의원" />
    <meta property="og:title" content="광덕안정치과의원 온라인상담" />
    <meta property="og:description" content="광덕안정치과의원 온라인상담 페이지" />
    <meta name="twitter:title" content="광덕안정치과의원 온라인상담" />
    <meta name="twitter:description" content="광덕안정치과의원 온라인상담 페이지" />
    <link rel="stylesheet" href="//cdn.gdajdental.gdaj/css/sub.css" />
{% endblock head_info %}

{% block body_info %}
        <div class="container">
            <div class="pagetop pagetop1">
                <div class="page_hgroup com">
                    <h1>커뮤니티</h1>
                    <ul class="catewrap">
                        <li class="category">
                            <a href="#">공지사항 / 이벤트</a>
                        </li>
                        <li class="category">
                            <a href="#">치료 전후사진</a>
                        </li>
                        <li class="category active">
                            <a href="#">온라인상담</a>
                        </li>
                        <li class="category">
                            <a href="#">언론보도</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <article class="contents">
            <div class="center">
                <h1 class="subtitle">온라인 상담</h1>
                <!-- 공지사항/이벤트 박스 시작 -->
                <div class="no_info">
                    <div class="tbl_counsel_view">
                        <ul>
                            <li class="tbl_counsel_view_branch">이수점/임플란트</li>
                            <li class="tbl_counsel_view_title">윗니 양쪽 어금니 발치 및 임플란트 시술과정</li>
                            <li class="tbl_counsel_view_name">테ㅇ트</li>
                            <li class="tbl_counsel_view_date">2021.10.10</li>
                            <li class="tbl_counsel_view_status">
                                <!--
                                <span class="c_s_wait">상담대기</span>
                                -->
                                <span class="c_s_complete">상담대기</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tbl_counsel_view_contents">
                    <div class="counsel_q_title">상담내용</div>
                    <div class="counsel_q_contents">
                        상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용상담내용
                    </div>
                    <div class="counsel_a_title">답변내용</div>
                    <div class="counsel_a_contents">
                        답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용
                        답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용답변내용
                    </div>
                </div>
                <div class="tbl_counsel_view_contents_btn">
                    <a href="#"><span class="modifybtn">삭제</span></a>
                    <a href="#"><span class="deletebtn">수정</span></a>
                    <a href="#"><span class="listbtn">목록</span></a>
                </div>
            </div>
        </article>
{% endblock body_info %}