{% extends "base.html" %}
{% block page_title %}온라인 상담 내용{% endblock page_title %}
{% block head_info %}
    <meta name="title" content="광덕안정치과의원 온라인상담" />
    <meta name="keywords" content="광덕안정치과의원,광덕안정,치과,치과병원" />
    <meta name="description" content="광덕안정치과의원 온라인상담 페이지" />
    <meta name="subject" content="광덕안정치과의원" />
    <meta property="og:title" content="광덕안정치과의원 온라인상담" />
    <meta property="og:description" content="광덕안정치과의원 온라인상담 페이지" />
    <meta name="twitter:title" content="광덕안정치과의원 온라인상담" />
    <meta name="twitter:description" content="광덕안정치과의원 온라인상담 페이지" />
    {% include "mixins/sub_style.html" %}
{% endblock head_info %}

{% block body_info %}
        <div class="container">
            <div class="pagetop pagetop1">
                <div class="page_hgroup com">
                    <h1>커뮤니티</h1>
                    <ul class="catewrap">
                        <li class="category">
                            <a href="/posts/notice">공지사항 / 이벤트</a>
                        </li>
                        <li class="category">
                            <a href="/posts/beforeafter">치료 전후사진</a>
                        </li>
                        <li class="category active">
                            <a href="/posts/qna">온라인상담</a>
                        </li>
                        <li class="category">
                            <a href="/posts/news">언론보도</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <article class="contents">
            <div class="center">
                <h1 class="subtitle">온라인 상담</h1>
                <!-- 공지사항/이벤트 박스 시작 -->
                <div class="no_info">
                    <div class="tbl_counsel_view">
                        <ul>
                            <li class="tbl_counsel_view_branch">{{qna_detail.branch}}/{{qna_detail.care_type}}</li>
                            <li class="tbl_counsel_view_title">{{qna_detail.title}}</li>
                            <li class="tbl_counsel_view_name">{{qna_detail.name}}</li>
                            <li class="tbl_counsel_view_date">{{qna_detail.created|date:'Y-m-d'}}</li>
                            <li class="tbl_counsel_view_status">
                                {% if qna_detail.answer_text %}
                                    <span class="c_status c_s_complete">상담완료</span>
                                {% else %}    
                                    <span class="c_status c_s_wait">상담대기</span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tbl_counsel_view_contents">
                    <div class="counsel_q_title">상담내용</div>
                    <div class="counsel_q_contents">
                        {{qna_detail.text}}
                    </div>
                    {% if qna_detail.answer_text %}
                        <div class="counsel_a_title">답변내용</div>
                        <div class="counsel_a_contents">
                            {{qna_detail.answer_text}}
                        </div>
                    {% endif %}
                </div>
                <div class="tbl_counsel_view_contents_btn">
                    {% if user.is_staff %}
                        {% if qna_detail.answer_text %}
                            <a href="{% url 'posts:qna_a_delete' qna_detail.pk %}"><span class="modifybtn">삭제</span></a>
                            <a href="{% url 'posts:qna_a_edit' qna_detail.pk %}"><span class="deletebtn">수정</span></a>
                        {% else %}
                            <a href="#"><span class="modifybtn">답변작성</span></a>
                        {% endif %}
                    {% endif %}
                    <a href="/posts/qna"><span class="listbtn">목록</span></a>
                </div>
            </div>
        </article>
{% endblock body_info %}
{% block sub_script %}
    {% include "mixins/sub_script.html" %}
{% endblock sub_script %}