{% extends "base.html" %}
{% block page_title %}온라인 상담 작성{% endblock page_title %}
{% block head_info %}
    <meta name="title" content="광덕안정치과의원 온라인상담" />
    <meta name="keywords" content="광덕안정치과의원,광덕안정,치과,치과병원" />
    <meta name="description" content="광덕안정치과의원 온라인상담 페이지" />
    <meta name="subject" content="광덕안정치과의원" />
    <meta property="og:title" content="광덕안정치과의원 온라인상담" />
    <meta property="og:description" content="광덕안정치과의원 온라인상담 페이지" />
    <meta name="twitter:title" content="광덕안정치과의원 온라인상담" />
    <meta name="twitter:description" content="광덕안정치과의원 온라인상담 페이지" />
    {% include "mixins/sub_style.html" %}
{% endblock head_info %}

{% block body_info %}
        <div class="container">
            <div class="pagetop pagetop1">
                <div class="page_hgroup com">
                    <h1>커뮤니티</h1>
                    <ul class="catewrap">
                        <li class="category">
                            <a href="/posts/notice">공지사항 / 이벤트</a>
                        </li>
                        <li class="category">
                            <a href="/posts/beforeafter">치료 전후사진</a>
                        </li>
                        <li class="category  active">
                            <a href="/posts/qna">온라인상담</a>
                        </li>
                        <li class="category">
                            <a href="/posts/news">언론보도</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contents on_wri">
            <div class="center">
                <h1 class="subtitle">온라인 상담</h1>
                <!-- 게시판 목록 시작 -->
                <div class="nolist">
                    <!-- 게시판 페이지 정보 및 버튼 시작 -->
                    <div id="no_btn_top">
                        <div class="tbl_wrap">
                            <form id="" name="" action="" method="">
                                <table class="tbl_counsel_write text_left">
                                    <caption>온라인 상담 작성란</caption>
                                    <colgroup>
                                        <col style="width:95px;">
                                        <col style="width:505px;">
                                        <col style="width:95px;">
                                        <col style="width:505px;">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td>지점<sup>*</sup></td>
                                            <td>
                                                <select class="counsel_select_left" id="" name="">
                                                    <option value="이수점">이수점</option>
                                                </select>
                                            </td>
                                            <td>분류<sup>*</sup></td>
                                            <td>
                                                <select id="" name="">
                                                    <option value="임플란트">임플란트</option>
                                                    <option value="치아교정">치아교정</option>
                                                    <option value="심미치료">심미치료</option>
                                                    <option value="일반치료">일반치료</option>
                                                    <option value="기타">기타</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>제목<sup>*</sup></td>
                                            <td colspan="3"><input type="text" id="" name="" value="" maxlength="50"
                                                    placeholder="제목을 입력해주세요." /></td>
                                        </tr>
                                        <tr>
                                            <td>이름<sup>*</sup></td>
                                            <td><input type="text" class="counsel_input_left" id="" name="" value=""
                                                    maxlength="5" placeholder="이름을 입력해주세요." /></td>
                                            <td>비밀번호<sup>*</sup></td>
                                            <td><input type="password" id="" name="" value="" maxlength="20"
                                                    placeholder="비밀번호를 입력해주세요." /></td>
                                        </tr>
                                        <tr>
                                            <td>연락처<sup>*</sup></td>
                                            <td><input type="text" class="counsel_input_left only_number" id="" name=""
                                                    value="" maxlength="11" placeholder="연락처를 입력해주세요." /></td>
                                            <td>이메일</td>
                                            <td><input type="email" id="" name="" value="" maxlength="50"
                                                    placeholder="이메일을 입력해주세요." /></td>
                                        </tr>
                                        <tr>
                                            <td>내용<sup>*</sup></td>
                                            <td colspan="3">
                                                <textarea id="" name="" maxlength="200"
                                                    placeholder="내용을 입력해주세요."></textarea>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="counsel_write_submit">
                                    <div class="counsel_write_policy">
                                        <div>
                                            <label><input type="checkbox" class="chkbox" id="" name="" value="Y" /> 개인정보
                                                수집 및 이용에 동의합니다 <a href="#" class="btn_perinfo_bottom">[보기]</a></label>
                                        </div>
                                        <div>
                                            이 사이트는 구글 reCAPTCHA로 보호되고 있습니다. [
                                            <a href="https://policies.google.com/privacy" target="_blank">개인정보처리방침
                                                보기</a>,
                                            <a href="https://policies.google.com/terms" target="_blank">서비스 약관 보기</a> ]
                                        </div>
                                    </div>
                                    <div class="counsel_write_btn">
                                        <button type="button" class="counsel_cancel">취소</button>
                                        <button type="submit" class="counsel_submit">등록</button>
                                    </div>
                                </div>
                            </form>
                            <script>
                                $(document).on('input propertychange', '.only_number', function (e) {
                                    $(this).val($(this).val().replace(/[^0-9]/g, ''));
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock body_info %}
{% block sub_script %}
    {% include "mixins/sub_script.html" %}
{% endblock sub_script %}