<div class="qwrap">
    <div class="quick">
        <div class="con_btn">
            <a href="javascript:;" onclick="confirm('카카오 채널로 상담을 시작합니다.') ? location.href='https://pf.kakao.com/_xeaxirK/chat' : false;">
                <img src="/static/img/assets/consultation.png" alt="상담 버튼">
                <p>상담</p>
            </a>
        </div>
        <div class="top_btn" id="gotop">
            <a href="">
                <img src="/static/img/assets/top.png" alt="위로가기 버튼">
            </a>
        </div>
    </div>
</div>
<footer>
    <div class="center">
        <h1>
            <a href="#">
                <img src="/static/img/assets/w_logo.png" alt="로고" />
            </a>
        </h1>
        <div class="text">
            <p>
                <a class="willpop" target-id="perinfo" id="perinfo_bottom" href="javascript:void(0);">개인정보처리방침</a>
                &nbsp; | &nbsp;
                <a class="willpop" target-id="right" id="right_bottom" href="#right">환자권리장전</a>
                &nbsp; | &nbsp;
                <a class="willpop" target-id="nonpay" id="nonpay_bottom" href="#nonpay">비급여수가</a>
            </p>
            <p>서울특별시 서초구 동작대로 130, 3층(방배동) 광덕안정치과 &nbsp 대표전화 : 02.6339.2875 &nbsp 대표 : 정세현 &nbsp 사업자등록번호 :
                257-11-01877</p>
            <p>Copyright 2021© 광덕안정치과. All rights reserved.</p>
        </div>
        <div class="icon">
            <ul>
                <li>
                    <a href="https://pf.kakao.com/_xeaxirK">
                        <img src="/static/img/assets/kakao.png" alt="카카오톡" />
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/gdajdental/">
                        <img src="/static/img/assets/insta.png" alt="인스타그램" />
                    </a>
                </li>
                <li>
                    <a href="https://blog.naver.com/gdajdental">
                        <img src="/static/img/assets/blog.png" alt="블로그" />
                    </a>
                </li>
            </ul>
            <!--20211111 수정 시작 (style 추가)-->
            <select style="font-weight: 500; ; font-family:'Noto Sans KR';" onchange="location.href=this.value">
                <option style="color: white;"> 관련사이트 </option>
                <option style="color: white;" value="/branch/isu"> 이수점 </option>
                <option style="color: white;" value="/branch/gn"> 강남점 </option>
            </select>
            <!--20211111 수정 끝 -->
        </div>
    </div>
</footer>
<!-- 사이드메뉴 -->
<div class="sidebar" style="display: none; opacity: 1; top: -100vh;">
    <nav>
        <a href="#" class="xIcon">
            <img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/assets/close_w.png" alt="close">
        </a>
        <h1 class="logo">
            <a href="/"><img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/assets/logo_side.png" alt="로고"></a>
        </h1>
        <ul class="side_list">
            <li>
                <!-- 20211231 수정 시작 -->
                <a href="/intro">치과소개</a>
                    <ol>
                        <a href="/intro"></a>
                        <li><a href="/intro"></a>
                            <a href="/intro">치과소개 </a>
                        </li>
                        <li><a href="/intro/ci">CI소개</a></li>
                        <li><a href="/intro/branch">지점안내</a></li>
                        <!-- <li><a href="/branch/isu/#doctors">의료진 소개</a></li>
                        <li><a href="/branch/isu/#equipments">장비소개</a></li>
                        <li><a href="/branch/isu/#facility">둘러보기</a></li>
                        <li><a href="/branch/isu/#way">진료시간&오시는길</a></li> -->
                    </ol>
                
            </li>
            <li>
                <a href="/implant">임플란트
                    </a><ol><a href="/implant">
                        </a><li><a href="/implant"></a><a href="/implant">임플란트 노하우</a></li>
                        <!-- <li><a href="/implant/type">임플란트 종류</a></li> -->
                        <li><a href="/implant/type/">원데이 임플란트</a></li>
                        <li><a href="/implant/type/#3dnav">네비게이션 임플란트</a></li>
                        <li><a href="/implant/type/#bone">뼈이식 임플란트</a></li>
                    </ol>
                
            </li>
            <li>
                <a href="/align">치아교정
                    </a><ol><a href="/align">
                        </a><li><a href="/align"></a><a href="/align">치과교정 노하우</a></li>
                        <!-- <li><a href="/align/type">치아교정 종류</a></li> -->
                        <li><a href="/align/type/#clippy">클리피시 교정</a></li>
                        <li><a href="/align/type/#clarity">클라리티 교정</a></li>
                        <li><a href="/align/type/#inivisible">투명교정</a></li>
                        <li><a href="/align/type/#partial">부분교정</a></li>
                        <li><a href="/align/type/#tongue">설측교정</a></li>
                    </ol>
                
            </li>
            <li>
                <a href="/beauty">심미치료
                    </a><ol><a href="/beauty">
                        </a><li><a href="/beauty"></a><a href="/beauty">치아미백 노하우</a></li>
                        <li><a href="/beauty/1day">미백 프로그램</a></li>
                    </ol>
                
            </li>
            <li>
                <a href="/general">일반치료
                    </a><ol><a href="/general">
                        </a><li><a href="/general"></a><a href="/general">일반치료 노하우</a></li>
                        <li><a href="/general/type/">충치치료</a></li>
                        <li><a href="/general/type/#nerve">신경치료</a></li>
                        <li><a href="/general/type/#peridontal">치주치료</a></li>
                        <li><a href="/general/type/#scaling">스케일링</a></li>
                        <li><a href="/general/type/#wisdom">사랑니발치</a></li>
                        <li><a href="/general/type/#preventive">예방치료</a></li>
                        <li><a href="/general/type/#smartt">시린이 치료</a></li>
                        <li><a href="/general/type/#dentures">틀니 제작</a></li>
                    </ol>
                
            </li>
            <li>
                <a href="/posts/notice">커뮤니티
                    </a><ol><a href="#">
                        </a><li><a href="#"></a><a href="/posts/notice">공지사항</a></li>
                        <li><a href="/posts/notice">이벤트</a></li>
                        <!-- 20211231 수정 끝  -->
                        <!-- 20220103 수정 시작 -->
                        <li><a href="/posts/beforeafter">치료전후사진</a></li>
                        <!-- 20220103 수정 끝 -->
                        <li><a href="/posts/qna">온라인상담</a></li>
                        <li><a href="/posts/news">언론보도</a></li>
                    </ol>
                
            </li>
        </ul>
    </nav>
</div>
<!-- 20211102 수정 시작 -->
<div class="popup-wrapper" id="nonpay">
    <div class="popup-wrap">
        <div class="cont">
            <div class="tlogo"></div>
            <div class="text">
                <h1>광덕안정치과 수가표</h1>
                <a href="javascript:;" class="closebtn closebtn_btn" onclick="popChunkDown()">
                    <img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/assets/close_w.png" alt="닫기 버튼">
                </a>
                <div class="txt">
                    <table cellpadding="0" cellspacing="0">
                        <colgroup>
                            <col style="width: 215px;">
                            <col style="width: 230px;">
                            <col style="width: 265px;">
                            <col style="width: 200px;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="bg1" colspan="2">진료과목</td>
                                <td class="bg1">세부항목</td>
                                <td class="bg1">정가</td>
                            </tr>
                            <tr>
                                <td rowspan="10" class="t_m_16">치아교정</td>
                                <td rowspan="8">일반교정</td>
                                <td>클리피시</td>
                                <td class="sb">450</td>
                            </tr>
                            <tr>
                                <td>월비</td>
                                <td class="sb">5</td>
                            </tr>
                            <tr>
                                <td>미니스크류</td>
                                <td class="sb">10</td>
                            </tr>
                            <tr>
                                <td>진단비</td>
                                <td class="sb">20</td>
                            </tr>
                            <tr>
                                <td>설측교정</td>
                                <td class="sb">900</td>
                            </tr>
                            <tr>
                                <td>콤비교정</td>
                                <td class="sb">700</td>
                            </tr>
                            <tr>
                                <td>투명교정</td>
                                <td class="sb">500</td>
                            </tr>
                            <tr>
                                <td>부분교정(악당)</td>
                                <td class="sb">100</td>
                            </tr>
                            <tr>
                                <td rowspan="2">소아교정</td>
                                <td>확장장치상악(와이어배열 포함)</td>
                                <td class="sb">80</td>
                            </tr>
                            <tr>
                                <td>확장장치하악(와이어배열 포함)</td>
                                <td class="sb">80</td>
                            </tr>
                            <!-- 20211231 수정 시작  -->
                            <tr>
                                <td rowspan="14" class="t_m_16">임플란트</td>
                                <td rowspan="7">임플란트</td>
                                <td>오스템SOI(구치)</td>
                                <td class="sb">140</td>
                            </tr>
                            <tr>
                                <td>오스템SOI(전치부)</td>
                                <td class="sb">160</td>
                            </tr>
                            <tr>
                                <td>오스템BA(구치)</td>
                                <td class="sb">120</td>
                            </tr>
                            <tr>
                                <td>오스템BA(전치부)</td>
                                <td class="sb">140</td>
                            </tr>
                            <!-- 20211231 수정 끝  -->
                            <tr>
                                <td>네비게이션(one-guide)</td>
                                <td class="sb">150</td>
                            </tr>
                            <tr>
                                <td>임시틀니</td>
                                <td class="sb">30</td>
                            </tr>
                            <tr>
                                <td>플리퍼</td>
                                <td class="sb">20</td>
                            </tr>

                            <tr>
                                <td rowspan="7">뼈이식</td>
                                <td>기본(1치)</td>
                                <td class="sb">30</td>
                            </tr>
                            <tr>
                                <td>2치</td>
                                <td class="sb">50</td>
                            </tr>
                            <tr>
                                <td>3치</td>
                                <td class="sb">70</td>
                            </tr>
                            <tr>
                                <td>상악동(크레스탈 1치)</td>
                                <td class="sb">50</td>
                            </tr>
                            <tr>
                                <td>2치</td>
                                <td class="sb">80</td>
                            </tr>
                            <tr>
                                <td>3치</td>
                                <td class="sb">100</td>
                            </tr>
                            <tr>
                                <td>상악동(라테랄-같은분악)</td>
                                <td class="sb">100</td>
                            </tr>

                            <tr>
                                <td rowspan="19" class="t_m_16">일반진료</td>
                                <td rowspan="6">레진</td>
                                <td>전치부</td>
                                <td class="sb">19</td>
                            </tr>
                            <tr>
                                <td>전치 2부위</td>
                                <td class="sb">35</td>
                            </tr>
                            <tr>
                                <td>전치부(Diastema)</td>
                                <td class="sb">50</td>
                            </tr>
                            <tr>
                                <td>구치</td>
                                <td class="sb">10</td>
                            </tr>
                            <tr>
                                <td>구치 2부위</td>
                                <td class="sb">18</td>
                            </tr>
                            <tr>
                                <td>치경부</td>
                                <td class="sb">9</td>
                            </tr>

                            <tr>
                                <td rowspan="2">인레이</td>
                                <td>골드</td>
                                <td class="sb">39</td>
                            </tr>
                            <tr>
                                <td>이맥스</td>
                                <td class="sb">35</td>
                            </tr>

                            <tr>
                                <td rowspan="8">크라운</td>
                                <td>골드(A type)</td>
                                <td class="sb">65</td>
                            </tr>
                            <tr>
                                <td>골드(PT)</td>
                                <td class="sb">79</td>
                            </tr>
                            <tr>
                                <td>PFZ</td>
                                <td class="sb">67</td>
                            </tr>
                            <tr>
                                <td>지르코니아</td>
                                <td class="sb">57</td>
                            </tr>
                            <tr>
                                <td>PFM</td>
                                <td class="sb">52</td>
                            </tr>
                            <tr>
                                <td>코어</td>
                                <td class="sb">10</td>
                            </tr>
                            <tr>
                                <td>MTA</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>포스트+코어</td>
                                <td class="sb">18</td>
                            </tr>
                            <tr>
                                <td rowspan="3">소아</td>
                                <td>불소</td>
                                <td class="sb">2</td>
                            </tr>
                            <tr>
                                <td>ss crown</td>
                                <td class="sb">15</td>
                            </tr>
                            <tr>
                                <td>유치 레진</td>
                                <td class="sb">8</td>
                            </tr>
                            <tr>
                                <td rowspan="3" class="t_m_16">심미진료</td>
                                <td rowspan="1">보톡스</td>
                                <td>보톡스</td>
                                <td class="sb">19</td>
                            </tr>
                            <tr>
                                <td rowspan="2">미백</td>
                                <td>원데이 3회 미백</td>
                                <td class="sb">40</td>
                            </tr>
                            <tr>
                                <td>미백 1회</td>
                                <td class="sb">15</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="close closebtn_btn"><a href="javascript:;" onclick="popChunkDown()">닫기</a></div>
        </div>
    </div>
</div>
<div class="popup-wrapper" id="perinfo">
    <div class="popup-wrap">
        <div class="cont">
            <div class="tlogo"></div>
            <div class="text">
                
                <h1>광덕안정치과 개인정보처리방침</h1>
                <a href="javascript:;" class="closebtn closebtn_btn" onclick="popChunkDown()">
                    <img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/assets/close_w.png" alt="닫기 버튼">
                </a>
                <div class="txt">
                    <span class="title">광덕안정 치과 개인정보처리방침</span>

                    광덕안정치과의원은 (이하 ‘병원’) 환자 여러분들의 개인 정보를 소중히 생각하며 [정보통신망 이용촉진 및 정보보호]에 관한 법률을 준수하고 있습니다.
                    이에 본원은 개인정보처리방침에 따라 환자 여러분이 제공하시는 개인 정보가 어떠한 용도와 방식으로 이용되고 있으며, 이를 위해 어떠한 조치가 취해지고
                    있는지 알려드립니다. 개인정보처리 방침의 순서는 다음과 같습니다.

                    1. 수집하는 개인정보의 항목 및 수집방법
                    2. 개인정보의 수집 및 이용목적
                    3. 개인정보의 보유 및 이용기간
                    4. 개인정보의 파기절차 및 그 방법
                    5. 개인정보 제공 및 공유
                    6. 수집한 개인정보의 취급위탁
                    7. 이용자 및 법정대리인의 권리와 그 행사방법
                    8. 동의철회 / 회원탈퇴 방법
                    9. 개인정보 자동 수집 장치의 설치/운영 및 그 거부에 관한 사항
                    10. 개인정보관리책임자
                    11. 개인정보의 안전성 확보조치
                    12. 정책 변경에 따른 공지의무

                    ❑ 수집하는 개인정보의 항목 및 수집방법
                    병원은 회원가입 시 서비스 이용을 위해 필요한 최소한의 개인정보만을 수집합니다.
                    병원의 서비스를 이용하기 위해서는 회원가입 시 필수항목과 선택항목이 있는데,
                    메일수신여부 등과 같은 선택항목은 입력하지 않더라도 서비스 이용에는 제한이 없습니다.
                    [수집항목] 성명, 주민등록번호, 주소, 연락처, 진료기록
                    ※ 의료법에 의해 고유식별정보 및 진료정보를 의무적으로 보유하여야 하여야 함(별도 동의 불필요)
                    [개인정보 수집방법] 홈페이지 (회원가입,상담게시판,온라인예약 등)



                    ❑ 개인정보의 수집 및 이용목적
                    병원은 수집한 개인정보를 다음의 목적을 위해 활용합니다.
                    이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는
                    사전 동의를 구할 것입니다.
                    [진료정보] 진단 및 치료를 위한 진료서비스와 청구, 수납 및 환급 등의 원무서비스 제공
                    [홈페이지 회원정보] 홈페이지를 통한 진료 예약, 예약조회 및 회원제 서비스를 제공하지 않으며 인터넷상 무기명 상담만을 시행하고 있습니다.
                    이메일을 통한 병원소식, 질병정보 등의 안내, 설문조사를 시행하지 않으므로 회원정보가 사용되지 않습니다.


                    ❑ 개인정보의 보유 및 이용기간
                    병원은 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 귀하의 개인정보를 지체 없이 파기합니다.

                    [진료정보] 의료법에 명시된 진료기록 보관 기준에 준하여 보관

                    [홈페이지 회원정보]
                    회원가입이나 탈퇴가 필요하지 않는 방식의 홈페이지를 운영하고 있습니다. 회원정보를 기입할 필요가 없습니다.
                    다만, 수집목적 또는 제공받은 목적이 달성된 경우에도 상법 등
                    법령의 규정에 의하여 보존할 필요성이 있는 경우에는 귀하의 개인정보를 보유할 수 있습니다.
                    - 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래 등에서의 소비자보호에 관한 법률)
                    - 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년 (신용정보의 이용 및 보호에 관한 법률)
                    – 본인 확인에 관한 기록 : 6개월 (정보통신망 이용촉진 및 정보보호 등에 관한 법률)
                    – 방문에 관한 기록 : 3개월 (통신비밀보호법)


                    ❑ 개인정보의 파기절차 및 그 방법
                    병원은 [개인정보의 수집 및 이용목적]이 달성된 후에는 즉시 파기합니다. 파기절차 및 방법은 다음과 같습니다.

                    [파기절차] 이용자가 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 파기방법에 의하여 즉시 파기합니다.

                    [파기방법] 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.
                    종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.


                    ❑ 개인정보 제공 및 공유
                    병원은 귀하의 동의가 있거나 관련법령의 규정에 의한 경우를 제외하고는 어떠한 경우에도 [개인정보의 수집 및 이용목적]에서 고지한 범위를 넘어 귀하의 개인정보를
                    이용하거나 타인 또는 타기업ㆍ기관에 제공하지 않습니다.

                    -국민건강보험법에 의해 건강보험심사평가원에 요양급여비용 청구를 위한 진료기록 제출
                    -통계작성ㆍ학술연구를 위하여 필요한 경우 특정 개인을 알아볼 수 없는 형태로 가공하여 제공
                    -법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우 제출 등


                    ❑ 수집한 개인정보의 취급위탁
                    본 병원은 개인정보를 위탁하고 있지 않습니다.


                    ❑ 이용자 및 법정대리인의 권리와 그 행사방법
                    만14세 미만 아동(이하 "아동"이라 함)의 회원가입은 아동이 이해하기 쉬운 평이한 표현으로 작성된 별도의 양식을 통해 이루어지고 있으며 개인정보 수집시 반드시
                    법정대리인의 동의를 구하고 있습니다. 병원은 법정대리인의 동의를 받기 위하여 아동으로부터 법정대리인의 성명과 연락처 등 최소한의 정보를 수집하고 있으며,
                    개인정보취급방침에서 규정하고 있는 방법에 따라 법정대리인의 동의를 받고 있습니다. 아동의 법정대리인은 아동의 개인정보에 대한 열람, 정정 및 삭제를 요청할 수
                    있습니다. 아동의 개인정보를 열람·정정, 삭제하고자 할 경우에는 회원정보수정을 클릭하여 법정대리인 확인 절차를 거치신 후 아동의 개인정보를 법정대리인이 직접
                    열람·정정, 삭제하거나, 개인정보보호책임자로 서면, 전화, 또는 Fax등으로 연락하시면 필요한 조치를 취합니다. 병원은 아동에 관한 정보를 제3자에게 제공하거나
                    공유하지 않으며, 아동으로부터 수집한 개인정보에 대하여 법정대리인이 오류의 정정을 요구하는 경우 그 오류를 정정할 때까지 해당 개인정보의 이용 및 제공을 금지합니다.
                    ※ 법에 의해 보관이 의무화된 개인정보는 요청이 있더라도 보관기간내에 수정·삭제할 수 없습니다.


                    ❑ 동의철회 / 회원탈퇴 방법
                    홈페이지 회원가입이 없는 개방형 홈페이지 이므로 홈페이지 상 개인정보의 수집ㆍ이용 및 제공이 원천적으로 불가능합니다. 인터넷 문의사항의 삭제를 원하시면
                    개인정보관리책임자로 서면, 또는 이메일 등으로 연락하시면 귀하의 개인정보를 파기하는 등 필요한 조치를 하겠습니다.


                    ❑ 개인정보 자동 수집 장치의 설치/운영 및 그 거부에 관한 사항
                    병원은 환자분들의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)'를 운용합니다. 쿠키란 병원의 웹사이트를 운영하는데 이용되는 서버가 환자분들의 브라우저에
                    보내는 아주 작은 텍스트 파일로 환자분들의 컴퓨터 하드디스크에 저장됩니다. 병원은 다음과 같은 목적을 위해 쿠키를 사용합니다.
                    환자분들은 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 환자분들은 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을
                    거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다. 만약 쿠키 설치를 거부하셨을 경우 일부 서비스 제공에 어려움이 있습니다.


                    ❑ 개인정보관리책임자
                    -관리책임자 : 정세현 원장
                    -취급담당자 : 최한준
                    -소속/직위 : 본사 IT개발팀
                    -연락처 : 070-4801-3823
                    -이메일 : choooi_hj@gdaj.co.kr
                    환자분들께서는 병원의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자로 신고하실 수 있습니다. 병원은 이용자들의 신고사항에 대해 신속하게
                    충분한 답변을 드릴 것입니다. 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.

                    개인분쟁조정위원회 (http://www.1336.or.kr / 1336)
                    정보보호마크인증위원회 (http://www.eprivacy.or.kr / (02) 580-0533~4)
                    대검찰청 사이버범죄수사단 (http://www.spo.go.kr / (02) 3480-3573)
                    경찰청 사이버테러대응센터 (http://www.ctrc.go.kr / (02) 392-0330)


                    ❑ 개인정보의 안전성 확보조치
                    병원은 이용자의 개인정보보호를 위한 기술적 대책으로서 여러 보안장치를 마련하고 있습니다. 이용자께서 보내시는 모든 정보는 방화벽장치에 의해 보호되는 보안시스템에
                    안전하게 보관/관리되고 있습니다. 또한 병원은 이용자의 개인정보보호를 위한 관리적 대책으로서 이용자의 개인정보에 대한 접근 및 관리에 필요한 절차를 마련하고,
                    이용자의 개인정보를 취급하는 인원을 최소한으로 제한하여 지속적인 보안교육을 실시하고 있습니다.


                    ❑ 정책 변경에 따른 공지의무
                    이 개인정보취급방침은 2020년 12월 9일에 제정되었으며 법령ㆍ정책 또는 보안기술의 변경에 따라 내용의 추가ㆍ삭제 및 수정이 있을 시에는 변경되는 개인정보취급방침을
                    시행하기 최소 7일전에 병원 홈페이지를 통해 변경이유 및 내용 등을 공지하도록 하겠습니다.

                    공고일자 : 2020년 12월 9일
                    시행일자 : 2020년 12월 9일
                </div>
            </div>
            <div class="close closebtn_btn"><a href="javascript:;" onclick="popChunkDown()">닫기</a></div>
        </div>
    </div>
</div>
<div class="popup-wrapper" id="right">
    <div class="popup-wrap">
        <div class="cont">
            <div class="tlogo"></div>
            <div class="text">
                <h1>환자권리장전</h1>
                <a href="javascript:;" class="closebtn closebtn_btn" onclick="popChunkDown()">
                    <img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/assets/close_w.png" alt="닫기 버튼">
                </a>
                <div class="txt">
                    <span class="title">환자의 권리와 의무</span>

                    광덕안정치과의원은 환자, 보호자의 요구와 권리에 대한 존중을 기반으로 하여 병원 정책을 운영한다.
                    [환자의 권리와 의무]는 병원을 이용하는 환자, 보호자의 권리와 의무를 구체적으로 명시함으로써, 권리를 증진시키고 최선의 의료 서비스를 제공하는데 목적이 있다.

                    &lt; 환자의 권리 &gt;
                    1. 진료받을 권리
                    환자는 자신의 건강보호와 증진을 위하여 보건의료서비스를 받을 권리를 갖고, 성별·나이·종교·신분·국적·언어·인종 및 신체적, 정신적, 경제적 사정 등을 이유로 차별받거나 건강에 관한 권리를 침해받지 아니하며, 의료진은 정당한 사유 없이 진료를 거부하지 못한다.

                    2. 알 권리 및 자기결정권
                    환자는 의료진 등으로부터 담당 의료진의 전문분야, 질병상태, 치료 목적, 치료 계획, 치료 방법, 치료 예상 결과 및 부작용, 퇴원계획, 진료비용, 의학적 연구 대상 여부, 장기이식 및 기증 여부 등에 관하여 충분한 설명을 듣고 자세히 물어볼 수 있으며 이에 관한 동의 여부를 결정할 권리가 있다. 윤리적인 범위 내에서 특정 치료 및 계획된 진료가 시작된 이후 이를 중단하거나 거절할 수 있고 대안적 진료에 대한 설명을 듣고 결정할 수 있다.

                    3. 비밀을 보호받을 권리
                    환자는 진료와 관련된 신체상, 건강상의 비밀과 사생활의 비밀을 침해받지 아니하며, 의료진과 의료기관은 환자의 동의를 받거나 범죄 수사 등 법률에서 정한 경우 외에는 개인 정보 공개를 포함하여 비밀을 누설, 발표할 수 없다.

                    4. 상담 및 조정을 신청할 권리
                    환자는 의료 서비스 관련 분쟁이 발생한 경우, 내부기관 또는 외부기관(한국소비자원, 한국의료분쟁조정중재원 등)에 상담 및 조정을 신청할 수 있다.

                    5. 가치관이나 신념을 존중 받을 권리
                    환자는 문화적, 종교적 가치관이나 신념 등의 이유로 차별받거나 권리를 침해받지 않는다.

                    6. 신체적 보호와 안정을 취할 권리
                    환자는 병원에서 발생할 수 있는 위험으로부터 보호받고 심신의 안정을 취할 권리가 있다.



                    &lt; 환자의 의무 &gt;

                    1. 의료진에 대한 신뢰 및 존중의 의무
                    환자는 자신의 건강 관련 정보를 의료진에게 정확히 알리고, 의료진의 치료 계획을 신뢰하고 존중하여야 한다.

                    2. 부정한 방법으로 진료를 받지 않을 의무
                    환자는 진료 전에 본인의 신분을 밝혀야 하고, 다른 사람의 명의로 진료를 받는 등 거짓이나 부정한 방법으로 진료를 받지 아니한다.

                    3. 병원 내 관련 규정 준수 의무
                    환자는 병원 내 관련 규정을 준수하고 직원과 다른 환자를 존중하여야 하며, 병원과 체결된 재정적 의무를 성실히 이행하여야 한다.
                </div>
            </div>
            <div class="close closebtn_btn"><a href="javascript:;" onclick="popChunkDown()">닫기</a></div>
        </div>
    </div>
</div>
<style>
    .cont .login_box {
        width: 400px;
        line-height: 28px;
        padding: 0px 20px 30px 30px;
        box-sizing: border-box;
        word-break: keep-all;
        font-size: 14px;
        letter-spacing: -0.045em;
        color: #666666;
    }

    .tbl_counsel_write input {
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding-left: 20px;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Noto Sans KR';
    }
    #loginform input,
    button {
        margin-bottom: 10px;
    }
    .hd_pops_footer button {
        margin-bottom: 0;
    }
    .login-bg {
        background: rgb(255 255 255 / 90%);
        box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
        backdrop-filter: blur(7.5px);
        -webkit-backdrop-filter: blur(7.5px);
    }
</style>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    var csrftoken = getCookie('csrftoken');
    
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    function reloadRecaptcha() {
        grecaptcha.execute('6LedxqgdAAAAADpJQx7JfzW06Fk8VoBE_xYps1PE', { action: 'submit' })
            .then(function (token) {
                document.querySelectorAll('input.django-recaptcha-hidden-field')
                    .forEach(function (value) { value.value = token; });
            });
        return 'RC reloaded'
    }
    function CheckLogin(next) {
        var formData = $("#loginform").serialize();
        if ($("#login_username").val() == '') {
            alert('ID를 입력해주세요.');
            $('#login_username').focus();
            return;
        } else if ($("#login_password").val() == '') {
            alert('비밀번호를 입력해주세요.');
            $('#login_password').focus();
            return;
        }
        $.ajax({
            url: "{%url 'user:ajaxlogin' %}",
            method: 'post',
            data: formData,
            success: function (res) {
                if (res['result']) {
                    location.href = '{{request.path}}'+next;
                    location.reload();
                    return;
                } else {
                    if (res['errors']['captcha']) {
                        $("#recaptcha_error").css('display', 'block')
                    } else {
                        $("#login_error").css('visibility', 'visible');
                        reloadRecaptcha()
                    }
                    $('#login_username').focus();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
    }
</script>
<div class="popup-wrapper" id="login" style="display:none;">
    <div class="popup-wrap">
        <div class="cont" id="login-bg" style="width:500px; height:700px;">
            <!-- 20211104 수정시작 -->
            <div class="tlogo" style="background-position-x: left; margin-bottom: 20px;"></div>
            <div class="text" style="height: 500px;">

                <h1 style="margin-bottom:20px;">로그인</h1>
                <a class="closebtn closebtn_btn">
                    <img src="/static/img/assets/close_w.png" alt="닫기 버튼">
                </a>
                <div class="login_box">
                    <script src="https://www.google.com/recaptcha/api.js?render=6LedxqgdAAAAADpJQx7JfzW06Fk8VoBE_xYps1PE"></script>

                    <script>
                    grecaptcha.ready(function() {
                        var grecaptcha_execute = function(){
                    grecaptcha.execute('6LedxqgdAAAAADpJQx7JfzW06Fk8VoBE_xYps1PE', {action: 'submit'}).then(function(token) {
                        document.querySelectorAll('input.django-recaptcha-hidden-field').forEach(function (value) {
                            value.value = token;
                        });
                        return token;
                    })
                    };
                    grecaptcha_execute()
                    setInterval(grecaptcha_execute, 120000);


                    });
                    </script>
                    <style>
                    .grecaptcha-badge{
                        display:none;
                    }
                    </style>

                    <div class="tbl_counsel_write login_wrapper">
                        {% include 'users/login.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.login_field').keypress(function (e) {
        if (e.keyCode == 13) {
            CheckLogin();
        }
    });
</script>
<div class="popup-container">" "</div>