<header class="main_top_div" id="toph">
    <nav class="top_nav">
        <!-- 햄버거 버튼 누르면 자바스크립트로 사이드메뉴 열리게 해주세요. -->
        <a href="javascript:void(0);"  class="menuicon" id="main_menuicon">
            <img src="//cdn.gdajdental.gdaj/img/assets/main_menuicon.png" alt="메뉴 버튼" />
        </a>
        <h1 class="logo">
            <a href="#">
                <img src="//cdn.gdajdental.gdaj/img/assets/logo_top.png" alt="로고" />
            </a>
        </h1>
        <div class="select" id="main_top_category">
            <a href="javascript:void(0)">
                <span>지점안내</span>
                <img src="//cdn.gdajdental.gdaj/img/assets/expand_more.svg" alt="확장">
            </a>
        </div>
        <div class="seltogether" id="main_top_category_sub">
            <a href="#"><span>이수점(대표)</span></a>
            <a href="#"><span>동작이수점</span></a>
            <a href="#"><span>강동길동점</span></a>
            <a href="#"><span>강동길동점</span></a>
        </div>
        <!-- 20211108 수정끝 -->
    </nav>
    <nav class="bot_nav">
        <ul class="menu">
            <li><a href="#">치과소개</a></li>
            <li><a href="#">임플란트</a></li>
            <li><a href="#">치아교정</a></li>
            <li><a href="#">심미치료</a></li>
            <li><a href="#">일반치료</a></li>
            <li><a href="#">커뮤니티</a></li>
            <li><a href="#">온라인 예약</a></li>
        </ul>
    </nav>
</header>