{% load static %}
<link rel="stylesheet" href="{% static "css/sub.css" %}" />
<style>
    .show {
        display: block !important;
    }

    #login {
        display: none;
    }

    .cont {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        overflow: hidden;
        position: absolute;
        width: 1000px;
        height: 700px;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
    }

    .cont .tlogo {
        width: 1000px;
        height: 80px;
        background: var(--bg-popupwrap) center center no-repeat;
        background-size: cover;
    }

    .cont .text {
        box-sizing: border-box;
    }

    .cont .close {
        width: 135px;
        height: 55px;
        line-height: 55px;
        margin: -30px auto 0;
        text-align: center;
        border: 1px solid rgb(48, 48, 48);
        background-color: rgb(255, 255, 255);
        font-size: 18px;
        letter-spacing: -0.03em;
    }

    .cont h1 {
        text-align: center;
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 40px;
        letter-spacing: -0.065em;
        color: #333333;
        width: 100%;
    }

    .popup-wrap .closebtn {
        position: absolute;
        top: 24px;
        right: 24px;
    }

    .cont .txt {
        overflow-y: scroll;
        /* overflow-y: auto; */
        width: 910px;
        height: 400px;
        line-height: 28px;
        padding: 30px 20px 30px 30px;
        border-top: 2px solid #000000;
        border-bottom: 2px solid rgb(222, 222, 222);
        box-sizing: border-box;
        background-color: #fbfbfb;
        white-space: pre-line;
        word-break: keep-all;
        font-size: 14px;
        letter-spacing: -0.045em;
        color: #666666;
    }
    /* 스크롤바 수정 _ 크롬, 사파리(웹킷 엔진)  */
    .cont .txt::-webkit-scrollbar{
        width: 6px;
        height: auto;
    }

    .cont .txt::-webkit-scrollbar-thumb{
        border-radius: 8px;
        background-color: rgb(204, 204, 204);
    }

    .cont .txt::-webkit-scrollbar-track{
        border-radius: 8px;
        background-color: #ede8e2;

    }
    /* 스크롤바 수정 _ 파이어폭스 */
    .cont .txt{
        scrollbar-width: thin;
        scrollbar-color: rgb(204, 204, 204) #ede8e2;
    }
    /* 스크롤바 수정 e */
    
    .cont .txt .title {
        font-weight: 700;
        font-size: 15px;
        color: #000000;
    }

    .cont .close {
        width: 135px;
        height: 55px;
        line-height: 55px;
        margin: -30px auto 0;
        text-align: center;
        border: 1px solid rgb(48, 48, 48);
        background-color: rgb(255, 255, 255);
        font-size: 18px;
        letter-spacing: -0.03em;
    }

    .cont .close a {
        display: block;
    }
</style>