{% extends "base.html" %}
{% block page_title %}임플란트 노하우{% endblock page_title %}
{% block head_info %}
    <meta name="title" content="광덕안정치과의원 임플란트" />
    <meta name="keywords" content="광덕안정치과의원,광덕안정,치과,치과병원,임플란트" />
    <meta name="description" content="광덕안정치과의원 임플란트" />
    <meta name="subject" content="광덕안정치과의원 임플란트" />
    <meta property="og:title" content="광덕안정치과의원 임플란트" />
    <meta property="og:description" content="광덕안정치과의원 임플란트" />
    <meta name="twitter:title" content="광덕안정치과의원 임플란트" />
    <meta name="twitter:description" content="광덕안정치과의원  임플란트 페이지" />
    {% include "mixins/sub_style.html" %}
{% endblock head_info %}


{% block body_info %}
        <div class="container">
            <div class="pagetop pagetop3">
                <div class="page_hgroup com">
                    <h1>임플란트</h1>
                    <ul class="catewrap">
                        <li class="category category600 active">
                            <a href="">광덕안정 임플란트 노하우</a>
                        </li>
                        <li class="category category600">
                            <a href="/implant/type">임플란트 종류</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="imp_contents">
            <div class="center">
                <div class="ic intro">
                    <!-- 20211119 수정 시작 -->
                    <p class="quot quot1">“</p>
                    <p class="t_l_42">임플란트가 두려운 이유</p>
                    <p class="t_b_50">1:1맞춤 월별정밀검사 시스템 </p>
                    <p class="quot quot2">”</p>
                    <!-- 20211119 수정 끝-->
                    <p class="bt">광덕안정치과는 매 월 방문 시마다 구강 상태를 촬영하고 기록하여 변화 과정을 정밀히 분석합니다</p>
                </div>
            </div>
            <div class="oc re">
                <div class="center">
                    <h1>임플란트 재수술이 필요한 이유</h1>
                    <ul>
                        <li>유착실패</li>
                        <li>
                            보철물탈락 <br />
                            및 파손
                        </li>
                        <li>기타</li>
                        <li>
                            임플란트 <br />
                            주위염
                        </li>
                        <li>
                            신경손상으로 인한 <br />
                            감각이상
                        </li>
                    </ul>
                </div>
            </div>
            <div class="center ">
                <div class="ic dtail">
                    <p class="t_l_42">안전한 식립을 위한</p>
                    <p class="t_b_50">광덕안정치과의 정밀 3D 시스템 </p>
                    <ul>
                        <li>
                            <div class="text">
                                <p>정확한 3D 검진과 <br />
                                    맞춤분석</p>
                            </div>
                        </li>
                        <li>
                            <div class="text">
                                <p>
                                    정교한 진료를 통한 <br />
                                    mm단위의 정확한 식립
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text">
                                <p>
                                    인증된 맞춤 <br />
                                    임플란트 재료 사용
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text">
                                <p>
                                    꾸준한 사후관리와 <br />
                                    보증제도
                                </p>
                            </div>
                        </li>
                    </ul>
                    <p class="bt">성공적인 결과를 위해 광덕안정치과는 <span class="m_sb_22">0.1mm</span>의 오차도 허용하지 않습니다.</p>
                </div>
            </div>
            <div class="oc sham">
                <div class="center">
                    <p class="t_l_42">성공적인 결과를 만드는</p>
                    <p class="t_b_50">광덕안정 3D 정밀 분석과 모의수술 </p>
                    <ul>
                        <li>
                            <div class="img">
                                <img src="/static/img/assets/st1.png" alt="STEP1" />
                            </div>
                            <p class="step">STEP 01</p>
                            <p class="text">
                                신경/혈관, 잇몸뼈 상태 <br />
                                다각도 정밀진단
                            </p>
                        </li>
                        <li>
                            <div class="img">
                                <img src="/static/img/assets/st2.png" alt="STEP2" />
                            </div>
                            <p class="step">STEP 02</p>
                            <p class="text">
                                모의수술 진행 <br />
                                최적의 치료계획 수립
                            </p>
                        </li>
                        <li>
                            <div class="img">
                                <img src="/static/img/assets/st3.png" alt="STEP3" />
                            </div>
                            <p class="step">STEP 03</p>
                            <p class="text">
                                성공적인 <br />
                                임플란트 식립
                            </p>
                        </li>
                    </ul>
                    <p class="bt">
                        광덕안정치과는 3D CT 결과를 바탕으로 한 정확한 진단과 모의수술을 통하여 <br />
                        더욱 정교한 식립이 가능합니다
                    </p>
                </div>
            </div>
            <div class="center">
                <div class="ic khow">
                    <p class="t_l_42">섬세하고 정교한</p>
                    <p class="t_b_50">광덕안정 치료 노하우 </p>
                    <ul>
                        <li>
                            <div class="img"></div>
                            <p class="point">POINT 01</p>
                            <p class="stit">충분한 골이식재 재료 사용</p>
                            <p class="text">
                                광덕안정은 뼈 이식 진행 시 좋은 치료 결과를 위해 재료를 아낌없이 사용하며, <br />
                                <span>2차 이식 시 추가되는 재료는 무상으로 제공해드리고 있습니다</span>
                            </p>
                        </li>
                        <li>
                            <div class="img"></div>
                            <p class="point">POINT 02</p>
                            <p class="stit">치아 쓰러짐, 솟구침(정출) 예방하는 스플린트 치료</p>
                            <p class="text">
                                최종 보철이 장착되기 전 시술 부위 주변 치아가 빈 공간의 영향으로<br />
                                서서히 쓰러질 수 있고 맞물리는 치아가 없으면 치아가 솟아 올라옵니다 <br />
                                <span>치아 쓰러짐과 솟구침(정출) 예방을 위한 스플린트 치료를 추가 비용 없이 진행합니다</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="oc soi">
                <div class="center">
                    <p class="t_b_50">세계적인 임플란트 SOI </p>
                    <p class="t_r_24">
                        오스템은 우수한 품질의 임플란트 재료로 세계적인 각광을 받고 있습니다 <br />
                        광덕안정은 그 중 골유착이 뛰어난 SOI 사용으로 더욱 성공적인 결과를 만들어 갑니다
                    </p>
                    <div class="img"></div>
                </div>
            </div>
            <div class="center">
                <div class="ic cus">
                    <p class="t_b_50">1:1 환자 맞춤 지대주 제작 </p>
                    <p class="t_r_24">
                        광덕안정은 환자에 따라 맞춤 제작된 임플란트 지대주 제작을 통해 <br />
                        더욱 편안하고 수정이 긴 임플란트 시술을 진행합니다
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <td class="stit" rowspan="2">
                                    <p class="top">
                                        기성 지대주 <br />
                                        임플란트
                                    </p>
                                    <p class="bot">
                                        맞춤 지대주 <br />
                                        임플란트
                                    </p>
                                </td>
                                <td class="img">
                                    <img src="/static/img/cus1.png" alt="기성 지대주 임플란트" />
                                </td>
                                <td class="text">
                                    <p class="t_b_26">획일화된 기성제품으로 잇몸라인에 맞지 수 있는 기성 지대주</p>
                                    <p class="t_r_20">치아와 임플란트 사이의 공간이 넓어 이물질이 끼기 쉬움</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="img">
                                    <img src="/static/img/cus2.png" alt="지대주 임플란트" />
                                </td>
                                <td class="text">
                                    <p class="t_b_26">개인의 잇몸 높이＆형태를 고려해 제작한 맞춤 임플란트</p>
                                    <p class="t_r_20">임플란트 유착이 뛰어남</p>
                                    <p class="t_r_20">임플란트 주위염 (부작용) 가능성 낮음</p>
                                    <div class="boxwrap">
                                        <span class="box">편안함</span>
                                        <span class="box">안전함</span>
                                        <span class="box">정확성</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="oc ex">
                <div class="center">
                    <p class="t_l_50">
                        임플란트 부작용 줄이는
                        <strong><span>철저한 사후관리</span></strong>
                    </p>
                    <p class="stit">
                        광덕안정치과는 오래 사용할 수 있는 임플란트 치료를 위해 <br />
                        <strong>환자에게 임플란트 보증서와 보증시스템을 제공</strong>합니다
                    </p>
                    <div class="img">
                        <img src="/static/img/ex.png" alt="임플란트 정품인증서">
                        <div class="text">
                            <h3>임플란트 정품인증서</h3>
                            <p>
                                광덕안정치과의원은 보다 안전한 임플란트를 위하여
                                임플란트 정품인증서를 제공합니다
                            </p>
                            <p>
                                광덕안정치과의원에서는 세계에서 가장 많이 사랑받는
                                오스템 임플란트를 사용하여 임플란트 식립의 정확도를 높입니다
                            </p>
                            <p>
                                OSSTEM IMPLANT CERTIFICATE CARD
                                오스템 임플란트 정품인증서를 확인하세요
                            </p>
                            <p>
                                오스템임플란트를 사용하는 광덕안정치과에서는 정품인증서를
                                발급해 드립니다. 인증서에는 시술 받으신 임플란트정보가
                                기록되므로 고객님의치아 건강을 위해 소중히 보관하시기 바랍니다
                            </p>
                        </div>
                    </div>
                    <table>
                        <tr>
                            <td class="ttit" rowspan="2">
                                <span class="m_m_24">Fixture</span>
                                <span class="t_b_24">(이식체)</span>
                            </td>
                            <td class="tdes">
                                <span class="m_sb_22">3</span>년 무상
                            </td>
                        </tr>
                        <tr>
                            <!-- <td>Fixture (이식체)</td> -->
                            <td class="tdes">
                                <span class="m_sb_22">3~5</span>년
                                <span class="m_sb_22">50%</span>할인
                            </td>
                        </tr>
                        <tr>
                            <td class="ttit">
                                <span class="m_m_24">Abutment</span>
                                <span class="t_b_24">(지대주)</span>
                            </td>
                            <td class="tdes">
                                교체시
                                <span>10</span>만원
                            </td>
                        </tr>
                        <tr>
                            <td class="ttit" rowspan="5">
                                <span class="m_m_24">Crown</span>
                                <span class="t_b_24">(상부보철물)</span>
                            </td>
                            <td class="tdes">
                                <span class="m_sb_22">1</span>
                                년 무상
                            </td>
                        </tr>
                        <tr>
                            <!-- <td>Crown (상부보철물)</td> -->
                            <td class="tdes">
                                <span class="m_sb_22">2</span>년
                                <span class="m_sb_22">70%</span>할인
                            </td>
                        </tr>
                        <tr>
                            <!-- <td>Crown (상부보철물)</td> -->
                            <td class="tdes">
                                <span class="m_sb_22">3</span>년
                                <span class="m_sb_22">50%</span>할인
                            </td>
                        </tr>
                        <tr>
                            <!-- <td>Crown (상부보철물)</td> -->
                            <td class="tdes">
                                <span class="m_sb_22">4</span>년
                                <span class="m_sb_22">30%</span>할인
                            </td>
                        </tr>
                        <tr>
                            <!-- <td>Crown (상부보철물)</td> -->
                            <td class="tdes">
                                <span class="m_sb_22">5</span>년
                                <span class="m_sb_22">10%</span>할인
                            </td>
                        </tr>
                    </table>
                    <p class="bt">
                        ※ 본 내용 비보험 임플란트 진료일 때 적용 가능하며,
                        보험 진료의 경우 다르게 적용될 수 있습니다
                    </p>
                </div>
            </div>
        </div>
{% endblock body_info %}
{% block sub_script %}
    {% include "mixins/sub_script.html" %}
{% endblock sub_script %}