{% extends "base.html" %}
{% load static %}
{% block page_title %}임플란트 종류{% endblock page_title %}
{% block head_info %}
    <meta name="title" content="광덕안정치과의원 임플란트" />
    <meta name="keywords" content="광덕안정치과의원,광덕안정,치과,치과병원,임플란트" />
    <meta name="description" content="광덕안정치과의원 임플란트 종류" />
    <meta name="subject" content="광덕안정치과의원 임플란트" />
    <meta property="og:title" content="광덕안정치과의원 임플란트" />
    <meta property="og:description" content="광덕안정치과의원 임플란트 종류" />
    <meta name="twitter:title" content="광덕안정치과의원 임플란트" />
    <meta name="twitter:description" content="광덕안정치과의원  임플란트 종류 페이지" />
    <link rel="stylesheet" href="{% static "css/sub_implant.css" %}" />
    <link rel="stylesheet" href="{% static "css/swiper.min.css" %}" />
    <script src="{% static "lib/swiper.min.js"%}"></script>
    {% include "mixins/sub_style.html" %}
    <style id="__web-inspector-hide-shortcut-style__">
        .__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
        {
            visibility: hidden !important;
        }
    </style>
{% endblock head_info %}

{% block body_info %}
        <div class="container">
            <div class="pagetop pagetop3">
                <div class="page_hgroup com">
                    <h1>임플란트</h1>
                    <ul class="catewrap">
                        <li class="category category600">
                            <a href="/implant">광덕안정 임플란트 노하우</a>
                        </li>
                        <li class="category category600 active">
                            <a href="">임플란트 종류</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ort_contents">
            <div class="oc implant_section">
                <div class="center">
                    <div class="implant_section_2">
                        <div class="section_icon"><img src="/static/img/sub/implant/implant_icon.png"
                                alt="아이콘" /></div>
                        <p class="implant_section_2_title1">진단부터 식립까지 단 하루에!</p>
                        <p class="implant_section_2_title2">원데이 임플란트</p>
                        <p class="implant_section_2_desc1">원데이 임플란트는 치아를 뽑은 직후 즉시 임플란트를 심는 치료입니다</p>
                        <p class="implant_section_2_desc2">이를 통하여 치료 기간을 단축하고 수술 절개를 최소화 합니다</p>
                        <ul class="implant_section_2_list">
                            <li>
                                <p class="implant_section_2_list_text1">단하루!</p>
                                <hr />
                                <p class="implant_section_2_list_text2">치료기간 단축</p>
                            </li>
                            <li>
                                <p class="implant_section_2_list_text1">빠른회복</p>
                                <hr />
                                <p class="implant_section_2_list_text2">당일 식사 가능</p>
                            </li>
                        </ul>
                        <div class="implant_section_2_image1"><img
                                src="/static/img/sub/implant/implant_section_2_1.png"
                                alt="원데이 임플란트 STEP" /></div>
                        <div class="display_none">
                            STEP 01
                            3D 정밀 검진 및 최적의 계획 수립
                            STEP 02
                            3D 모의 수술
                            맞춤가이드 제작
                            STEP 03
                            당일 발치 후 임플란트 수술
                        </div>
                        <div class="implant_section_2_image2"><img
                                src="/static/img/sub/implant/implant_section_2_2.png"
                                alt="원데이 임플란트 당일 발치 및 임플란트 1,2차 수술" /></div>
                    </div>
                </div>
            </div>
            <div class="oc implant_section implant_section_bg_gray">
                <div class="center">
                    <div class="implant_section_1">
                        <div class="section_icon"><img src="/static/img/sub/implant/implant_icon.png"
                                alt="아이콘" /></div>
                        <p class="implant_section_1_title1">정확하고 안전하다</p>
                        <p class="implant_section_1_title2">3D 디지털 네비게이션 임플란트</p>
                        <p class="implant_section_1_desc1">네비게이션 임플란트는 3D 분석과 모의수술을 바탕으로 하여</p>
                        <p class="implant_section_1_desc2">0.1mm의 오차를 줄이고 정확하고 안전한 식립이 가능합니다</p>
                        <ul class="implant_section_1_list">
                            <li>
                                <p class="implant_section_1_list_text1">최소절개</p>
                                <hr />
                                <p class="implant_section_1_list_text2">정확하다</p>
                            </li>
                            <li>
                                <p class="implant_section_1_list_text1">통증감소</p>
                                <hr />
                                <p class="implant_section_1_list_text2">안전하다</p>
                            </li>
                            <li>
                                <p class="implant_section_1_list_text1">빠른회복</p>
                                <hr />
                                <p class="implant_section_1_list_text2">부작용 최소화</p>
                            </li>
                        </ul>
                        <div class="implant_section_1_table">
                            <div class="implant_section_1_table_row i_s_1_t_t">
                                <div class="implant_section_1_table_cell implant_section_1_table_cell1">일반 임플란트</div>
                                <!-- 20211123 수정 시작 -->
                                <div class="implant_section_1_table_cell implant_section_1_table_cell2 implant_section_1_table_cellvs">
                                    <img src="/static/img/assets/vs2.png" alt="vs">
                                </div>
                                <div class="implant_section_1_table_cell implant_section_1_table_cell3">네비게이션 임플란트</div>
                            </div>
                            <div class="implant_section_1_table_row">
                                <div class="implant_section_1_table_cell implant_section_1_table_cell1">4~8개월</div>
                                <!-- 20211123 수정 끝 -->
                                <div class="implant_section_1_table_cell implant_section_1_table_cell2">치료기간</div>
                                <div class="implant_section_1_table_cell implant_section_1_table_cell3">2~3개월 내외</div>
                            </div>
                            <div class="implant_section_1_table_row">
                                <div class="implant_section_1_table_cell implant_section_1_table_cell1">6~8회 이상</div>
                                <div class="implant_section_1_table_cell implant_section_1_table_cell2">내원횟수</div>
                                <div class="implant_section_1_table_cell implant_section_1_table_cell3">3회 내외</div>
                            </div>
                            <div class="implant_section_1_table_row">
                                <div class="implant_section_1_table_cell implant_section_1_table_cell1">1시간 이상</div>
                                <div class="implant_section_1_table_cell implant_section_1_table_cell2">시술시간</div>
                                <div class="implant_section_1_table_cell implant_section_1_table_cell3">15분 내외</div>
                            </div>
                            <div class="implant_section_1_table_row">
                                <div class="implant_section_1_table_cell implant_section_1_table_cell1">1주일 정도 휴식 필요
                                </div>
                                <div class="implant_section_1_table_cell implant_section_1_table_cell2">회복기간</div>
                                <div class="implant_section_1_table_cell implant_section_1_table_cell3">즉시 일상생활 가능</div>
                            </div>
                            <div class="implant_section_1_table_row i_s_1_t_b">
                                <div class="implant_section_1_table_cell implant_section_1_table_cell1">
                                    <p>잇몸 절개 시술</p>
                                    <img src="/static/img/sub/implant/implant_section_1_1.jpeg"
                                        alt="잇몸 절개 시술 사진" />
                                </div>
                                <div class="implant_section_1_table_cell implant_section_1_table_cell2">시술방법</div>
                                <div class="implant_section_1_table_cell implant_section_1_table_cell3">
                                    <p>최소 절개</p>
                                    <img src="/static/img/sub/implant/implant_section_1_2.jpeg"
                                        alt="잇몸 절개 시술 사진" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oc implant_section">
                <div class="center">
                    <div class="implant_section_3">
                        <div class="section_icon"><img src="/static/img/sub/implant/implant_icon.png"
                                alt="아이콘" /></div>
                        <p class="implant_section_3_title1">뼈이식 치료, 오랜 기다림 없이 바로</p>
                        <p class="implant_section_3_title2">뼈이식 임플란트</p>
                        <p class="implant_section_3_desc1">소량의 뼈이식을 진행할 경우</p>
                        <p class="implant_section_3_desc2">기다림 없이 임플란트 식립까지 동시진행 합니다</p>
                        <!-- 20211102 텍스트 수정 시작 -->
                        <ul class="implant_section_3_list">
                            <li>
                                <p class="implant_section_3_list_text1">뼈이식</p>
                                <hr />
                                <p class="implant_section_3_list_text2">소량의 뼈이식</p>
                            </li>
                            <li>
                                <p class="implant_section_3_list_text1">당일식립</p>
                                <hr />
                                <p class="implant_section_3_list_text2">동시진행</p>
                            </li>
                        </ul>
                        <!-- 20211102 텍스트 수정 끝 -->
                        <table class="implant_section_3_table">
                            <tr>
                                <td><img src="/static/img/sub/implant/implant_section_3.jpeg" alt="" />
                                </td>
                                <td class="implant_section_3_table_txt">
                                    <p class="implant_section_3_table_txt1">성공적인 치료 결과를 위해</p>
                                    <p class="implant_section_3_table_txt2">정교한 뼈 이식 치료를 진행합니다</p>
                                    <p class="implant_section_3_table_txt3">
                                        잇몸뼈가 충분하지 않으면 임플란트가 흔들리는 등 유지가 어렵습니다<br />
                                        광덕안정은 충분한 뼈 이식 재료를 사용하여 흔들림 없이 튼튼한<br />
                                        임플란트 유지가 가능하도록 합니다</p>
                                    <p class="implant_section_3_table_txt4">※ 본 사항은 개인의 상태에 따라 달라질 수 있습니다</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 20211123 수정 시작 -->
            <div class="oc implant_section implant_section_4_wrap implant_section_bg_gray">
            <!-- 20211123 수정 끝 -->
                <div class="center">
                    <div class="implant_section_4">
                        <p class="implant_section_4_title1">BEFORE & AFTER</p>
                        <p class="implant_section_4_title2">광덕안정치과의 튼튼하고 체계적인 임플란트 식립 사례</p>
                        <div class="implant_swiper">
                            <div class="swiper mySwiper swiper-container-initialized swiper-container-horizontal">
                                <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1200px, 0px, 0px);"><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="2" style="width: 1200px;"><img src="/static/img/sub/implant/implant_section_4_3.jpeg" alt="CASE 03 : 발치 즉시 임플란트 식립 사례 (원데이 임플란트)"></div>
                                    <!-- 20220104 수정 시작 -->
                                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 1200px;"><img src="/static/img/sub/implant/implant_section_4_1.jpeg" alt="CASE 01 : 발치 즉시 임플란트 식립 사례 (원데이 임플란트)"></div>
                                    <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="width: 1200px;"><img src="/static/img/sub/implant/implant_section_4_2.jpeg" alt="CASE 02 : 발치 즉시 임플란트 식립 사례 (원데이 임플란트)"></div>
                                    <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="2" style="width: 1200px;"><img src="/static/img/sub/implant/implant_section_4_3.jpeg" alt="CASE 03 : 발치 즉시 임플란트 식립 사례 (원데이 임플란트)"></div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 1200px;"><img src="/static/img/sub/implant/implant_section_4_1.jpeg" alt="CASE 01 : 발치 즉시 임플란트 식립 사례 (원데이 임플란트)"></div></div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                            <div class="implant_swiper_prev" tabindex="0" role="button" aria-label="Previous slide"><img src="/static/img/sub/braces/sub_braces_section_7_prev.jpeg" alt="이전">
                            </div>
                            <div class="implant_swiper_next" tabindex="0" role="button" aria-label="Next slide"><img src="/static/img/sub/braces/sub_braces_section_7_next.jpeg" alt="다음">
                            </div>
                            <!-- 20220104 수정 끝 -->
                        </div>
                        {% comment %} <div class="implant_swiper">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img
                                            src="/static/img/sub/implant/implant_section_4_1.jpeg"
                                            alt="" /></div>
                                    <div class="swiper-slide"><img
                                            src="/static/img/sub/implant/implant_section_4_2.jpeg"
                                            alt="" /></div>
                                    <div class="swiper-slide"><img
                                            src="/static/img/sub/implant/implant_section_4_3.jpeg"
                                            alt="" /></div>
                                </div>
                            </div>
                            <div class="implant_swiper_prev"><img
                                    src="/static/img/sub/braces/sub_braces_section_7_prev.jpeg" alt="이전" />
                            </div>
                            <div class="implant_swiper_next"><img
                                    src="/static/img/sub/braces/sub_braces_section_7_next.jpeg" alt="다음" />
                            </div>
                        </div> {% endcomment %}
                        <!-- 로그인 전 검은색 박스-->
                        <div class="beflog">
                            <p class="text">의료법상 치료사례 정보는 로그인후 가능합니다</p>
                            <div class="iconwrap">
                                <a href="/auth/kakao/login/?method=oauth2&amp;next=/implant/type#bf" class="kakao">
                                    <img src="/static/img/assets/kakao_af.png" alt="카카오 아이콘">
                                </a>
                                <a href="/auth/naver/login/?method=oauth2&amp;next=/implant/type#bf" class="naver" style="margin-right:10px;">
                                    <img src="/static/img/assets/naver.png" alt="네이버 아이콘">
                                </a>
                                <a href="javascript:;" class="login_btn_pop" onclick="document.querySelectorAll('.login_chunk_buttons a').forEach(i=>i.href+='#bf')
                                    document.querySelector('.popup_login__button').dataset.next='#bf';">
                                    <img src="/static/img/assets/login.png" alt="로그인 아이콘">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var swiper = new Swiper(".mySwiper", {
                loop: true,
                navigation: {
                    nextEl: ".implant_swiper_next",
                    prevEl: ".implant_swiper_prev",
                }
            });
        </script>
{% endblock body_info %}
{% block sub_script %}
    {% include "mixins/sub_script.html" %}
{% endblock sub_script %}