:root {
    --main-font-color: #000000;
    --second-font-color: #ffffff;
    --third-font-color: #666666;
    --fourth-font-color: #333333;
    --ort-font-color:#5fcfe3;
    --main-bg-color: #ffffff;
    --second-bg-color: #93979f;
    --main-border-color: #ffffff;
    --second-border-color: #000000;
    --main-point-color: #004dcf;
    --sec-point-color: #00aacf;
    --thr-point-color : #0f1d4a;


    --bg-exam: url('/dentalweb/cdn/statics/img/banner.png');
    --bg-pagetop: url('/dentalweb/cdn/statics/img/subbg.png');
    --bg-pagetop1: url('/dentalweb/cdn/statics/img/combg.png');
    --bg-pagetop2: url('/dentalweb/cdn/statics/img/introbg.png');
    --bg-pagetop3: url('/dentalweb/cdn/statics/img/impbg.png');
    --bg-sub-branch: url('/dentalweb/cdn/statics/img/sub/branch/sub_branch_bg.jpg');
    --bg-intro:url('/dentalweb/cdn/statics/img/introbg2.png');
    --bg-laurel:url('/dentalweb/cdn/statics/img/laurel.png');
    --bg-check:url('/dentalweb/cdn/statics/img/cross.png');
    --bg-pagetop-ort:url('/dentalweb/cdn/statics/img/ortbg.png');
    --bg-gbg1:url('/dentalweb/cdn/statics/img/gbg1.png');
    --bg-gbg2:url('/dentalweb/cdn/statics/img/gbg2.png');
    --bg-gbg3:url('/dentalweb/cdn/statics/img/gbg3.png');
    --bg-gbg4:url('/dentalweb/cdn/statics/img/gbg4.png');
    --bg-ort-table:url('/dentalweb/cdn/statics/img/orttable.png');
    --bg-bwbg:url('/dentalweb/cdn/statics/img/bwbg.png');
    --bg-sub-branch-tel-icon:url('/dentalweb/cdn/statics/img/sub/branch/sub_map_tel_icon.png');
    --bg-sub-branch-layer-doctor-ci:url('/dentalweb/cdn/statics/img/sub/branch/sub_doctor_ci.png');
    --bg-sub-branch-layer-doctor-dq:url('/dentalweb/cdn/statics/img/sub/branch/sub_doctor_dq.png');
    --bg-tbox:url('/dentalweb/cdn/statics/img/tbox.png');
    --bg-age:url('/dentalweb/cdn/statics/img/agebg.png');
    --bg-re:url('/dentalweb/cdn/statics/img/rebg.png');
    --bg-sub-braces-list-icon:url('/dentalweb/cdn/statics/img/sub/braces/braces_list_icon.png');
    --bg-dtail1:url("/dentalweb/cdn/statics/img/dtail1.png");
    --bg-dtail2:url("/dentalweb/cdn/statics/img/dtail2.png");
    --bg-dtail3:url("/dentalweb/cdn/statics/img/dtail3.png");
    --bg-dtail4:url("/dentalweb/cdn/statics/img/dtail4.png");
    --bg-rec:url("/dentalweb/cdn/statics/img/assets/imp_rec.png");
    --bg-khow1:url("/dentalweb/cdn/statics/img/khow1.png");
    --bg-khow2:url("/dentalweb/cdn/statics/img/khow2.png");
    --bg-soi:url("/dentalweb/cdn/statics/img/soi.png");
    --bg-cusb:url('/dentalweb/cdn/statics/img/cusb.png');
    --bg-checkg:url("/dentalweb/cdn/statics/img/assets/checkg.png");
    --bg-checkb:url("/dentalweb/cdn/statics/img/assets/checkb.png");
    --bg-ex:url('/dentalweb/cdn/statics/img/exbg.png');
    --bg-aes:url('/dentalweb/cdn/statics/img/aesbg.png');
    --bg-sub-implant-3-bg:url('/dentalweb/cdn/statics/img/sub/implant/implant_section_3_bg.jpg');
    --bg-af:url('/dentalweb/cdn/statics/img/afbg.jpg');
    --bg-step1:url('/dentalweb/cdn/statics/img/step1.png');
    --bg-sub-whitening-2-bg: url('/dentalweb/cdn/statics/img/sub/whitening/whitening_section_2_bg.jpg');
    --bg-popupwrap:url('/dentalweb/cdn/statics/img/popupwrap.png');
    --bg--gray-expand:url('/dentalweb/cdn/statics/img/assets/expand_more_gray.png');
    --bg-expand-b:url('/dentalweb/cdn/statics/img/assets/expand_more_b.png');
    --bg-pagetop-gnral:url('/dentalweb/cdn/statics/img/subbg.png');
    --bg-gnrl-kh1:url('/dentalweb/cdn/statics/img/gnrl_kh1.png');
    --bg-gnrl-kh2:url('/dentalweb/cdn/statics/img/gnrl_kh2.png');
    --bg-gnrl-kh3:url('/dentalweb/cdn/statics/img/gnrl_kh3.png');
    --bg-gnrl-kh4:url('/dentalweb/cdn/statics/img/gnrl_kh4.png');
    --bg-nat-wrap:url('/dentalweb/cdn/statics/img/nat_wrap.png');
    --bg-cavity-section2-stitle1:url('/dentalweb/cdn/statics/img/assets/cavity_section2_stitle1.png');
    --bg-periodontal-sec3:url('/dentalweb/cdn/statics/img/periodontal_section_3.png');
    --bg-wisdom-sec3-1:url('/dentalweb/cdn/statics/img/wisdomt_section_3_1.png');
    --bg-wisdom-sec3-2:url('/dentalweb/cdn/statics/img/wisdomt_section_3_2.png');
    --bg-wisdom-sec3-3:url('/dentalweb/cdn/statics/img/wisdomt_section_3_3.png');
    --bg-wisdom-sec3-4:url('/dentalweb/cdn/statics/img/wisdomt_section_3_4.png');
}