{% extends "base.html" %}
{% block page_title %}일반치료 노하우{% endblock page_title %}
{% block head_info %}
    <meta name="title" content="광덕안정치과의원 일반치료 노하우" />
    <meta name="keywords" content="광덕안정치과의원,광덕안정,치과,치과병원,일반치료" />
    <meta name="description" content="광덕안정치과의원 일반치료 노하우" />
    <meta name="subject" content="광덕안정치과의원" />
    <meta property="og:title" content="광덕안정치과의원 일반치료 노하우" />
    <meta property="og:description" content="광덕안정치과의원 일반치료 노하우" />
    <meta name="twitter:title" content="광덕안정치과의원 일반치료 노하우" />
    <meta name="twitter:description" content="광덕안정치과의원 일반치료 노하우 " />
    {% include "mixins/sub_style.html" %}
{% endblock head_info %}

{% block body_info %}
        <div class="container">
            <div class="pagetop pagetop_gnral">
                <div class="page_hgroup com">
                    <h1>일반치료</h1>
                    <ul class="catewrap">
                        <li class="category category600 active">
                            <a href="/general">광덕안정 일반치료 노하우</a>
                        </li>
                        <li class="category category600">
                            <a href="/general/type">일반치료</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gnrl_kh_contents">
            <div class="center">
                <div class="ic intro3">
                    <p class="quot quot1">“</p>
                    <p class="t_l_42">광덕안정치과는</p>
                    <p class="t_b_50">당신의 자연치아를 소중히 생각합니다</p>
                    <p class="quot quot2">”</p>
                    <p class="bt">소중한 치아를 건강하고, 오랫동안 지키기 위해 끊임없이 연구하며 고객 맞춤 진료를 추구합니다</p>
                </div>
            </div>
            <div class="oc gnrl_kh_section1">
                <div class="center">
                    <p class="t_l_42">작은부분도 놓치지 않겠습니다</p>
                    <p class="t_b_50">광덕안정치과 일반치료 노하우</p>
                    <ul>
                        <li>
                            <p>교정과, 보철과, 보존과 의료진의 전문화된</p>
                            <p>분가별 협진진료</p>
                        </li>
                        <li>
                            <p>다양한 케이스를 통한 네트워크 병원만의</p>
                            <p>연령별 맞춤형 진료</p>
                        </li>
                        <li>
                            <p>자연스럽고 내구성이 강한 고품질 재료</p>
                            <p>최신의료장비&쾌적환 환경</p>
                        </li>
                        <li>
                            <p>맞춤형 치료 설계로 내원횟수를 단축하여</p>
                            <p>치료기간 최소화</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="oc nat_wrap">
                <div class="center">
                    <p class="t_b_50">광덕안정치과의, 자연치아 살리기</p>
                    <p class="t_r_22">환자분들과의 인연을 소중히 여기며, 평생의 치아주치의로 정성을 다해 진료하겠습니다</p>
                    <div class="nat">
                        <ul>
                            <li>
                                <div class="nat_img">
                                    <img src="//cdn.gdajdental.gdaj/img/assets/nat_ico1.png" alt="">
                                </div>
                                <div class="nat_text">
                                    <p class="tit">스케일링&치주치료</p>
                                    <p class="subt">
                                        건강한 치아의 기본은<br />
                                        잇몸관리가 시작입니다
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="nat_img">
                                    <img src="//cdn.gdajdental.gdaj/img/assets/nat_ico2.png" alt="">
                                </div>
                                <div class="nat_text">
                                    <p class="tit">충치치료</p>
                                    <p class="subt">
                                        충치! 조기치료가 중요합니다<br />
                                        충치가 생겼다면 빨리<br />
                                        치료하는것이 좋습니다
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="nat_img">
                                    <img src="//cdn.gdajdental.gdaj/img/assets/nat_ico3.png" alt="">
                                </div>
                                <div class="nat_text">
                                    <p class="tit">신경치료</p>
                                    <p class="subt">
                                        치료 시기를 놓쳤다면 <br />
                                        신경치료로 자연치아를 <br />
                                        다시 살리는 시술입니다
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock body_info %}
{% block sub_script %}
    {% include "mixins/sub_script.html" %}
{% endblock sub_script %}