{% extends "base.html" %}
{% block page_title %}일반치료 종류{% endblock page_title %}
{% block head_info %}
    <meta name="title" content="광덕안정치과의원 일반치료 일반치료" />
    <meta name="keywords" content="광덕안정치과의원,광덕안정,치과,치과병원,일반치료" />
    <meta name="description" content="광덕안정치과의원 일반치료 일반치료" />
    <meta name="subject" content="광덕안정치과의원" />
    <meta property="og:title" content="광덕안정치과의원 일반치료 일반치료" />
    <meta property="og:description" content="광덕안정치과의원 일반치료 일반치료" />
    <meta name="twitter:title" content="광덕안정치과의원 일반치료 일반치료" />
    <meta name="twitter:description" content="광덕안정치과의원 일반치료 일반치료 " />
    <link rel="stylesheet" href="//cdn.gdajdental.gdaj/css/sub.css" />
{% endblock head_info %}


{% block body_info %}
        <div class="container">
            <div class="pagetop pagetop_gnral">
                <div class="page_hgroup com">
                    <h1>일반치료</h1>
                    <ul class="catewrap">
                        <li class="category category600 ">
                            <a href="#">광덕안정 일반치료 노하우</a>
                        </li>
                        <li class="category category600 active">
                            <a href="#">일반치료</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gnrl_s_contents">
            <div class="cavity_section">
                <div class="center">
                    <div class="cavity_section_1">
                        <div class="section_icon">
                            <img src="//cdn.gdajdental.gdaj/img/assets/cavity_icon.png" alt="아이콘" />
                        </div>
                        <p class="cavity_section_1_title1">치아건강의 기본인</p>
                        <p class="cavity_section_1_title2">충치치료</p>
                        <p class="cavity_section_1_desc1">치아는 한번 망가지면 재생이 어려워, 충치가 생기면 치료하지 않는 한 회복이 불가능합니다</p>
                        <p class="cavity_section_1_desc2">치료시기가 빠를수록 자연치아를 보존할 가능성이 높아지고 치료를 해서 최대한 자연치아를 보존합니다</p>
                    </div>
                </div>
            </div>
            <div class="cavity_section cavity_section_bg_gray">
                <div class="center">
                    <div class="cavity_section_2">
                        <p class="cavity_section_2_title1">충치 단계별 치료방법</p>
                        <ul class="cavity_section_2_ul">
                            <li class="cavity_section_2_li">
                                <div class="cavity_section_1_img">
                                    <img src="//cdn.gdajdental.gdaj/img/assets/cavity_section_2_1.png" alt="" />
                                </div>
                                <div class="cavity_section_2_t">
                                    <p class="cavity_section_2_num">충치 1단계 (법랑질 충치)</p>
                                    <p class="cavity_section_2_desc1">치아 겉면인 법랑질에 까만 점 정도로 보이는 단계, 통증이 전혀없어 초기 발견이 중요
                                    </p>
                                    <p class="cavity_section_2_stitle1">치료방법</p>
                                    <p class="cavity_section_2_desc2">충치부위를 긁어내고 레진으로 떼우는 방식으로 간단히 치료 가능</p>
                                </div>
                            </li>
                            <li class="cavity_section_2_li">
                                <div class="cavity_section_1_img">
                                    <img src="//cdn.gdajdental.gdaj/img/assets/cavity_section_2_2.png" alt="" />
                                </div>
                                <div class="cavity_section_2_t">
                                    <p class="cavity_section_2_num">충치 2단계 (상아질 충치)</p>
                                    <p class="cavity_section_2_desc1">
                                        법랑질 안쪽까에 있는 상아질까지 썩어 있는 상태, 차갑거나 뜨거운 음식에 통증을 느낄수 있음 <br />
                                        치아에 구멍은 있지만 음식물 섭취시 통증이 없음
                                    </p>
                                    <p class="cavity_section_2_stitle1">치료방법</p>
                                    <p class="cavity_section_2_desc2">pfm(아말감, 레진 등)으로 떼우는 치료 진행</p>
                                </div>
                            </li>
                            <li class="cavity_section_2_li">
                                <div class="cavity_section_1_img">
                                    <img src="//cdn.gdajdental.gdaj/img/assets/cavity_section_2_3.png" alt="" />
                                </div>
                                <div class="cavity_section_2_t">
                                    <p class="cavity_section_2_num">충치 3단계 (상아질 충치)</p>
                                    <p class="cavity_section_2_desc1">
                                        상아질 안쪽 신경까지 염증이 진행된 상태, 뜨겁거나 차가운 음식이 더욱 민감한 반응 <br />
                                        극심한 통증 유발
                                    </p>
                                    <p class="cavity_section_2_stitle1">치료방법</p>
                                    <p class="cavity_section_2_desc2">신경치료를 통해 치아 뿌리의 신경혈관을 제거 후 보철 치료 진행(인레인, 크라운)</p>
                                </div>
                            </li>
                            <li class="cavity_section_2_li">
                                <div class="cavity_section_1_img">
                                    <img src="//cdn.gdajdental.gdaj/img/assets/cavity_section_2_4.png" alt="" />
                                </div>
                                <div class="cavity_section_2_t">
                                    <p class="cavity_section_2_num">충치 4단계 (치수괴사)</p>
                                    <p class="cavity_section_2_desc1">치아 뿌리와 신경까지 손상되어 신경치료 불가능한 상태 </p>
                                    <p class="cavity_section_2_stitle1">치료방법</p>
                                    <p class="cavity_section_2_desc2">발치후 임플란트 시술 진행</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cavity_section">
                <div class="center">
                    <div class="cavity_section_3">
                        <p class="cavity_section_3_title1">충치 치료 재료 비교</p>
                        <div class="cavity_section_3_ulwrap">
                            <ul class="cavity_section_3_ul">
                                <li class="cavity_section_3_li">
                                    <p class="cavity_section_3_stitle1">골드</p>
                                    <img class="cavity_section_3_icon"
                                        src="//cdn.gdajdental.gdaj/img/assets/cavity_section_3_img1.png" alt="골드">
                                    <img class="cavity_section_3_line"
                                        src="//cdn.gdajdental.gdaj/img/assets/cavity_section_3_dashed.png" alt="줄">
                                    <p class="cavity_section_3_desc1">- 어금니에 주로 사용</p>
                                    <p class="cavity_section_3_desc2">- 치아와 강도, 탄성이 가장 유사</p>
                                    <p class="cavity_section_3_desc3">- 생체친화력이 높음</p>
                                    <p class="cavity_section_3_desc4">- 내구성이 가장 뛰어남</p>
                                    <p class="cavity_section_3_desc5">- 오랜 기간 사용</p>
                                </li>
                                <li class="cavity_section_3_li">
                                    <p class="cavity_section_3_stitle1">세라믹</p>
                                    <img class="cavity_section_3_icon"
                                        src="//cdn.gdajdental.gdaj/img/assets/cavity_section_3_img2.png" alt="세라믹">
                                    <img class="cavity_section_3_line"
                                        src="//cdn.gdajdental.gdaj/img/assets/cavity_section_3_dashed.png" alt="줄">
                                    <p class="cavity_section_3_desc1">- 앞니에 주로 사용</p>
                                    <p class="cavity_section_3_desc2">- 치아와 유사한 색상</p>
                                    <p class="cavity_section_3_desc3">- 심미적인 만족도 높음</p>
                                </li>
                                <li class="cavity_section_3_li">
                                    <p class="cavity_section_3_stitle1">지르코니아</p>
                                    <img class="cavity_section_3_icon"
                                        src="//cdn.gdajdental.gdaj/img/assets/cavity_section_3_img3.png" alt="지르코니아">
                                    <img class="cavity_section_3_line"
                                        src="//cdn.gdajdental.gdaj/img/assets/cavity_section_3_dashed.png" alt="줄">
                                    <p class="cavity_section_3_desc1">- 앞니, 어금니에 주로 사용 </p>
                                    <p class="cavity_section_3_desc2">- 치아색상</p>
                                    <p class="cavity_section_3_desc3">- 심미적으로 뛰어남</p>
                                    <p class="cavity_section_3_desc4">- 강도도 높음</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nerve_section">
                <div class="center">
                    <div class="nerve_section_1">
                        <div class="section_icon">
                            <img src="//cdn.gdajdental.gdaj/img/assets/cavity_icon_4.png" alt="아이콘" />
                        </div>
                        <p class="nerve_section_1_title1">치아 내부의 신경 및 혈관 조직을제거하는 </p>
                        <p class="nerve_section_1_title2">신경치료</p>
                        <p class="nerve_section_1_desc1">충치가 심화되어 치아 깊숙하게 있는 신경까지 감염되면 죽은 조직을 제거하고,</p>
                        <p class="nerve_section_1_desc2">빈 공간에 레진 등의 치과재료로 충전하는 시술입니다</p>
                    </div>
                </div>
            </div>
            <div class="nerve_section nerve_section_bg_gray">
                <div class="center">
                    <div class="nerve_section_2">
                        <p class="nerve_section_2_title1">신경치료가 필요할때!</p>
                        <p class="nerve_section_2_title2">신경 치료 대상 CHECK LIST</p>
                        <div class="nerve_section_2_ulwrap">
                            <ul class="nerve_section_2_ul">
                                <li class="nerve_section_2_li">
                                    <p class="nerve_section_2_desc">충치가 심해 치아 내부 신경까지 증상이 악화된 경우</p>
                                </li>
                                <li class="nerve_section_2_li">
                                    <p class="nerve_section_2_desc">충치가 깊어 해당 부위의 제거가 필요할 때</p>
                                </li>
                                <li class="nerve_section_2_li">
                                    <p class="nerve_section_2_desc">외상에 의해서 치아에 금이 가거나 깨진 경우</p>
                                </li>
                                <li class="nerve_section_2_li">
                                    <p class="nerve_section_2_desc">잇몸 질환에 의해 치아 뿌리가 심하게 염증이 생긴 경우</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nerve_section">
                <div class="center">
                    <div class="nerve_section_3">
                        <p class="nerve_section_3_title1">신경치료 과정</p>
                        <p class="nerve_section_3_desc1">충치가 심화되어 치아 깊숙하게 있는 신경까지 감염되면 죽은 조직을 제거하고,</p>
                        <p class="nerve_section_3_desc2">빈 공간에 레진 등의 치과재료로 충전하는 시술입니다</p>
                        <div class="nerve_section_3_ulwrap">
                            <ul class="nerve_section_3_ul">
                                <li class="nerve_section_3_li">
                                    <div class="nerve_section_3_img">
                                        <img class="cavity_section_3_icon"
                                            src="//cdn.gdajdental.gdaj/img/assets/nerve_section_3_ico1.png" alt="">
                                    </div>
                                    <div class="nerve_section_3_t">
                                        <p class="nerve_section_3_stitle1">신경치료 1단계 </p>
                                        <p class="nerve_section_3_desc3">
                                            치아 신경을 확인하기 위한 <br />
                                            공간 확보
                                        </p>
                                    </div>
                                </li>
                                <li class="nerve_section_3_li">
                                    <div class="nerve_section_3_img">
                                        <img class="cavity_section_3_icon"
                                            src="//cdn.gdajdental.gdaj/img/assets/nerve_section_3_ico2.png" alt="">
                                    </div>
                                    <div class="nerve_section_3_t">
                                        <p class="nerve_section_3_stitle1">신경치료 2단계 </p>
                                        <p class="nerve_section_3_desc3">
                                            신경치료 장치를 이용한 <br />
                                            염증 및 신경관 제거
                                        </p>
                                    </div>
                                </li>
                                <li class="nerve_section_3_li">
                                    <div class="nerve_section_3_img">
                                        <img class="cavity_section_3_icon"
                                            src="//cdn.gdajdental.gdaj/img/assets/nerve_section_3_ico3.png" alt="">
                                    </div>
                                    <div class="nerve_section_3_t">
                                        <p class="nerve_section_3_stitle1">신경치료 3단계 </p>
                                        <p class="nerve_section_3_desc3">
                                            치과용 재료로 치근관 <br />
                                            채움
                                        </p>
                                    </div>
                                </li>
                                <li class="nerve_section_3_li">
                                    <div class="nerve_section_3_img">
                                        <img class="cavity_section_3_icon"
                                            src="//cdn.gdajdental.gdaj/img/assets/nerve_section_3_ico4.png" alt="">
                                    </div>
                                    <div class="nerve_section_3_t">
                                        <p class="nerve_section_3_stitle1">신경치료 4단계 </p>
                                        <p class="nerve_section_3_desc3">
                                            크라운 등을 통한 마무리
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="periodontal_section">
                <div class="center">
                    <div class="periodontal_section_1">
                        <div class="section_icon">
                            <img src="//cdn.gdajdental.gdaj/img/assets/periodontal_icon.png" alt="아이콘" />
                        </div>
                        <p class="periodontal_section_1_title1">치주치료</p>
                        <p class="periodontal_section_1_desc1">한번 무너진 잇몸을 회복하긴 어렵습니다</p>
                        <p class="periodontal_section_1_desc2">치주 조직의 건강이 치아 건강의 근본입니다</p>
                    </div>
                </div>
            </div>
            <div class="periodontal_section periodontal_section_bg_gray">
                <div class="center">
                    <div class="periodontal_section_2">
                        <p class="periodontal_section_2_title1">이런 경우 빨리 병원으로 내원해주세요</p>
                        <p class="periodontal_section_2_title2">치주질환 증상 CHECK LIST</p>
                        <div class="periodontal_section_2_ulwrap">
                            <ul class="periodontal_section_2_ul">
                                <li class="periodontal_section_2_li">
                                    <p class="periodontal_section_2_desc">양치 시 잇몸에서 피가 나요</p>
                                </li>
                                <li class="periodontal_section_2_li">
                                    <p class="periodontal_section_2_desc">입냄새가 심해요</p>
                                </li>
                                <li class="periodontal_section_2_li">
                                    <p class="periodontal_section_2_desc">음식 씹을 때 통증이 느껴져요</p>
                                </li>
                                <li class="periodontal_section_2_li">
                                    <p class="periodontal_section_2_desc">잇몸과 치아가 내려 앉았어요</p>
                                </li>
                                <li class="periodontal_section_2_li">
                                    <p class="periodontal_section_2_desc">치아가 흔들려요</p>
                                </li>
                                <li class="periodontal_section_2_li">
                                    <p class="periodontal_section_2_desc">잇몸이 붓고 고름이 나요</p>
                                </li>
                                <li class="periodontal_section_2_li">
                                    <p class="periodontal_section_2_desc">치아가 시려요</p>
                                </li>
                                <li class="periodontal_section_2_li">
                                    <p class="periodontal_section_2_desc">치아 사이가 벌어져요</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="periodontal_section">
                <div class="center">
                    <div class="periodontal_section_3">
                        <p class="periodontal_section_3_title1">치주질환 치료</p>
                        <div class="periodontal_section_3_ulwrap">
                            <ul class="periodontal_section_3_ul">
                                <li class="periodontal_section_3_li">
                                    <p class="periodontal_section_3_stit1">비수술적 치료</p>
                                    <p class="periodontal_section_3_desc1">스케일링, 치주소파술</p>
                                </li>
                                <li class="periodontal_section_3_li">
                                    <p class="periodontal_section_3_stit1">수술적 치료</p>
                                    <p class="periodontal_section_3_desc1">잇몸수술, 잇몸성형</p>
                                </li>
                            </ul>
                        </div>
                        <p class="periodontal_section_3_desc2">치주질환은 흔히 풍치라고 합니다 <br />
                            병상의 정도에 따라 치은염과 치주염으로 나뉘는데요 <br />
                            잇몸과 연조직에만 국한되어 염증이 있는 경우는 치은염이라 하고, 해당 염증이 잇몸뼈 주변까지 진행되면 치주염이라고 합니다
                        </p>
                    </div>
                </div>
            </div>
            <div class="scaling_section">
                <div class="center">
                    <div class="scaling_section_1">
                        <div class="section_icon">
                            <img src="//cdn.gdajdental.gdaj/img/assets/scaling_icon.png" alt="아이콘" />
                        </div>
                        <p class="scaling_section_1_title1">스케일링</p>
                        <p class="scaling_section_1_desc1">치아 관리는 예방이 최선입니다</p>
                        <p class="scaling_section_1_desc2">정기적인 스케일링으로 튼튼한 잇몸과 치아 관리를 하는 것이 좋습니다</p>
                    </div>
                </div>
            </div>
            <div class="scaling_section scaling_section_bg_gray">
                <div class="center">
                    <div class="scaling_section_2">
                        <p class="scaling_section_2_title1">스케일링의 장점</p>
                        <div class="scaling_section_2_ulwrap">
                            <ul class="scaling_section_2_ul">
                                <li class="scaling_section_2_li">
                                    <p class="scaling_section_2_desc1">
                                        치아 색소 <br />
                                        침착 예방
                                    </p>
                                </li>
                                <li class="scaling_section_2_li">
                                    <p class="scaling_section_2_desc1">
                                        구취 예방 및 <br />
                                        치주 질환 예방
                                    </p>
                                </li>
                                <li class="scaling_section_2_li">
                                    <p class="scaling_section_2_desc1">
                                        자연치아보존, <br />
                                        매끄러운 치아관리
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scaling_section">
                <div class="center">
                    <div class="scaling_section_3">
                        <p class="scaling_section_3_title1">스케일링 시술 후, 주의 사항</p>
                        <ul class="scaling_section_3_ul">
                            <li class="scaling_section_3_li">
                                <p class="scaling_section_3_desc1">
                                    1. 스케일링 직후, 일시적 시린 증상이 나타날 수 있습니다. 개인에 따라 몇 시간 또는 며칠 후에 자연스럽게 사라집니다
                                </p>
                            </li>
                            <li class="scaling_section_3_li">
                                <p class="scaling_section_3_desc1">
                                    2. 스케일링 후, 약간의 출혈이 동반될 수 있으나, 지혈을 위해 삼켜 주세요
                                </p>
                            </li>
                            <li class="scaling_section_3_li">
                                <p class="scaling_section_3_desc1">
                                    3. 스케일링 시술 후, 7일 정도 너무 차갑거나 뜨거운 음식은 삼가해 주세요
                                </p>
                            </li>
                            <li class="scaling_section_3_li">
                                <p class="scaling_section_3_desc1">
                                    4. 스케일 시술과 상관없이 치실이나, 치간 칫솔은 꾸준히 사용하는 것이 좋습니다.
                                </p>
                            </li>
                            <li class="scaling_section_3_li">
                                <p class="scaling_section_3_desc1">
                                    5. 6개월에서 1년 간격으로 정기적인 스케일링 관리가 좋습니다.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wisdomt_section">
                <div class="center">
                    <div class="wisdomt_section_1">
                        <div class="section_icon">
                            <img src="//cdn.gdajdental.gdaj/img/assets/wisdomt_icon.png" alt="아이콘" />
                        </div>
                        <p class="wisdomt_section_1_title1">사랑니발치</p>
                        <p class="wisdomt_section_1_desc1">
                            주변치아에 영향을 주지 않고 구강위생관리가 잘 되고 있는 사랑니를 제외하고는 <br />
                            발치를 하는것이 최선입니다
                        </p>
                    </div>
                </div>
            </div>
            <div class="wisdomt_section wisdomt_section_bg_gray">
                <div class="center">
                    <div class="wisdomt_section_2">
                        <p class="wisdomt_section_2_title1">사랑니 발치가 필요한 유형</p>
                        <div class="wisdomt_section_2_ulwrap">
                            <ul class="wisdomt_section_2_ul">
                                <li class="wisdomt_section_2_li">
                                    <p class="wisdomt_section_2_desc">사랑니가 누워 자라 주위 어금니 손상</p>
                                </li>
                                <li class="wisdomt_section_2_li">
                                    <p class="wisdomt_section_2_desc">치아 배열에 악영향</p>
                                </li>
                                <li class="wisdomt_section_2_li">
                                    <p class="wisdomt_section_2_desc">랑니로 인한 충치 및 잇몸질환</p>
                                </li>
                                <li class="wisdomt_section_2_li">
                                    <p class="wisdomt_section_2_desc">치아교정 시 필요에 의한 발치</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wisdomt_section">
                <div class="center">
                    <div class="wisdomt_section_3">
                        <p class="wisdomt_section_3_title1">사랑니 형태</p>
                        <div class="wisdomt_section_3_ulwrap">
                            <ul class="wisdomt_section_3_ul">
                                <li class="wisdomt_section_3_li">
                                    <div class="wisdomt_section_3_t">
                                        <p class="wisdomt_section_3_desc1">
                                            사랑니가 올바르게 난 경우 <br />
                                            (상황에 따라 발치)
                                        </p>
                                    </div>
                                </li>
                                <li class="wisdomt_section_3_li">
                                    <div class="wisdomt_section_3_t">
                                        <p class="wisdomt_section_3_desc1">
                                            사랑니가 비스듬하게 <br />
                                            자라는 경우
                                        </p>
                                    </div>
                                </li>
                                <li class="wisdomt_section_3_li">
                                    <div class="wisdomt_section_3_t">
                                        <p class="wisdomt_section_3_desc1">
                                            사랑니가 누워서 <br />
                                            자라는 경우
                                        </p>
                                    </div>
                                </li>
                                <li class="wisdomt_section_3_li">
                                    <div class="wisdomt_section_3_t">
                                        <p class="wisdomt_section_3_desc1">
                                            사랑니가 겉으로 <br />
                                            보이지 않는 경우
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <p class="wisdomt_section_3_desc2">
                            사랑니(wisdom tooth)은 큰 어금니 중에서 3번째 위치해 있는데, 구강 내 가장 늦게 나오는 치아입니다 <br />
                            일반적으로 사춘기 무렵에 나오기 시작하는데, 첫사랑을 앓듯이 아프다고 해서 ‘사랑니’라는 별칭을 불립니다 <br />
                            다른 말로 지치(智齒)라고도 합니다
                        </p>
                    </div>
                </div>
            </div>
            <div class="wisdomt_section wisdomt_section_bg_gray">
                <div class="center">
                    <div class="wisdomt_section_4">
                        <p class="wisdomt_section_4_title1">사랑니 발치방법</p>
                        <div class="wisdomt_section_4_ulwrap">
                            <ul class="wisdomt_section_4_ul">
                                <li class="wisdomt_section_4_li">
                                    <div class="wisdomt_section_4_img">
                                        <img src="//cdn.gdajdental.gdaj/img/wisdomt_section_4_1.png" alt="" />
                                    </div>
                                    <div class="wisdomt_section_4_t">
                                        <p class="wisdomt_section_4_title2">사랑니 발치 1단계 </p>
                                        <p class="wisdomt_section_4_desc1">
                                            잇몸 질환, 사랑니 염증, 정밀 검사를 <br />
                                            통해 정확한 위치 파악
                                        </p>
                                    </div>
                                </li>
                                <li class="wisdomt_section_4_li">
                                    <div class="wisdomt_section_4_img">
                                        <img src="//cdn.gdajdental.gdaj/img/wisdomt_section_4_2.png" alt="" />
                                    </div>
                                    <div class="wisdomt_section_4_t">
                                        <p class="wisdomt_section_4_title2">사랑니 발치 2단계 </p>
                                        <p class="wisdomt_section_4_desc1">
                                            국소마취 진행후 잇몸 절개
                                        </p>
                                    </div>
                                </li>
                                <li class="wisdomt_section_4_li">
                                    <div class="wisdomt_section_4_img">
                                        <img src="//cdn.gdajdental.gdaj/img/wisdomt_section_4_3.png" alt="" />
                                    </div>
                                    <div class="wisdomt_section_4_t">
                                        <p class="wisdomt_section_4_title2">사랑니 발치 3단계 </p>
                                        <p class="wisdomt_section_4_desc1">
                                            안전하게 사랑니 발치
                                        </p>
                                    </div>
                                </li>
                                <li class="wisdomt_section_4_li">
                                    <div class="wisdomt_section_4_img">
                                        <img src="//cdn.gdajdental.gdaj/img/wisdomt_section_4_4.png" alt="" />
                                    </div>
                                    <div class="wisdomt_section_4_t">
                                        <p class="wisdomt_section_4_title2">사랑니 발치 4단계 </p>
                                        <p class="wisdomt_section_4_desc1">
                                            발치후 일주일후 실밥 제거 <br />
                                            (항생제와 소염제 투여)
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <p class="wisdomt_section_4_desc2">
                            * 환자의 상태에 따라 치료 방법은 달라질 수 있습니다
                        </p>
                    </div>
                </div>
            </div>
            <div class="wisdomt_section">
                <div class="center">
                    <div class="scaling_section_3">
                        <p class="wisdomt_section_5_title1">사랑니 발치 후, 주의 사항</p>
                        <ul class="wisdomt_section_5_ul">
                            <li class="wisdomt_section_5_li">
                                <p class="wisdomt_section_5_desc1">
                                    1. 사랑니 발치 후 입에 물려드린 거즈는 1~2시간동안은 물고 계신후 제거해주세요
                                </p>
                            </li>
                            <li class="wisdomt_section_5_li">
                                <p class="wisdomt_section_5_desc1">
                                    2. 사랑니 발치 후 나오는 피는 모두 삼켜주세요
                                </p>
                            </li>
                            <li class="wisdomt_section_5_li">
                                <p class="wisdomt_section_5_desc1">
                                    3. 사랑니 발치 후 1~2일은 정도 10분씩 냉찜질을 해주시면 좋습니다
                                </p>
                            </li>
                            <li class="wisdomt_section_5_li">
                                <p class="wisdomt_section_5_desc1">
                                    4. 사랑니 발치 후 뜨겁거나 자극적인 음식은 피해주세요
                                </p>
                            </li>
                            <li class="wisdomt_section_5_li">
                                <p class="wisdomt_section_5_desc1">
                                    5. 사랑니 발치 후 음주, 흡연, 과격한 운동은 당분간 피해주세요
                                </p>
                            </li>
                            <li class="wisdomt_section_5_li">
                                <p class="wisdomt_section_5_desc1">
                                    6. 사랑니 발치 후 치과에서 처방해 드린 약을 꾸준히 복용해주세요
                                </p>
                            </li>
                            <li class="wisdomt_section_5_li">
                                <p class="wisdomt_section_5_desc1">
                                    7. 사랑니 발치 후 빨대 사용을 피해주세요
                                </p>
                            </li>
                            <li class="wisdomt_section_5_li">
                                <p class="wisdomt_section_5_desc1">
                                    8. 사랑니 발치 후, 출혈이 멈추지 않거나 이상이 있는 경우는 치과를 내원하셔야 합니다
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="preventive_section">
                <div class="center">
                    <div class="wisdomt_section_1">
                        <div class="section_icon">
                            <img src="//cdn.gdajdental.gdaj/img/assets/preventive_icon.png" alt="아이콘" />
                        </div>
                        <p class="preventive_section_1_title1">예방치료</p>
                        <p class="preventive_section_1_desc1">
                            건강한 치아는 어릴 때부터 만들어집니다 <br />
                            주기적인 관리와 예방만큼 최고의 치료는 없습니다
                        </p>
                    </div>
                </div>
            </div>
            <div class="preventive_section preventive_section_bg_gray">
                <div class="center">
                    <div class="preventive_section_2">
                        <p class="preventive_section_2_title1">예방치료 방법</p>
                        <div class="preventive_section_2_tablewrap">
                            <table class="preventive_section_2_table">
                                <colgroup>
                                    <col style="width: 150px;">
                                    <col style="width: 525px;">
                                    <col style="width: 525px;">
                                </colgroup>
                                <thead>
                                    <tr class="preventive_section_2_tr">
                                        <td class="preventive_section_2_td"></td>
                                        <td class="preventive_section_2_td">불소도포</td>
                                        <td class="preventive_section_2_td">실란트</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="preventive_section_2_tr">
                                        <td class="preventive_section_2_td">치료대상</td>
                                        <td class="preventive_section_2_td">
                                            충치가 발생하기 쉬운 성장기 어린이들에게 적합한 <br />
                                            예방치료 방법
                                        </td>
                                        <td class="preventive_section_2_td">
                                            만 18세 이하 어린이 및 청소년의 <br />
                                            어금니 관리에 좋습니다
                                        </td>
                                    </tr>
                                    <tr class="preventive_section_2_tr">
                                        <td class="preventive_section_2_td">정의</td>
                                        <td class="preventive_section_2_td">
                                            치아 표면에 불소로 보호막을 만들어 <br />
                                            치아를 보호
                                        </td>
                                        <td class="preventive_section_2_td">
                                            치아의 씹는 면의 골짜기 부분을 <br />
                                            플라스틱 계열의 물질로 코팅
                                        </td>
                                    </tr>
                                    <tr class="preventive_section_2_tr">
                                        <td class="preventive_section_2_td">장점</td>
                                        <td class="preventive_section_2_td">
                                            - 치아의 법랑질을 강하게 하여 충치예방 <br />
                                            - 불소막 형성하여 세균활동 억제 <br />
                                            - 칼슘과 같은 무기질의 치아 결합을 도와줌 <br />
                                            - 산성 물질에 잘 견뎌 치아 표면 보호 <br />
                                        </td>
                                        <td class="preventive_section_2_td">
                                            - 어금니 충치 예방에 효과적 <br />
                                            - 통증이 없음 <br />
                                            - 방문 횟수가 1 ~2회로 시간 부담 적음 <br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="smartt_section">
                <div class="center">
                    <div class="smartt_section_1">
                        <div class="section_icon">
                            <img src="//cdn.gdajdental.gdaj/img/assets/smartt_icon.png" alt="아이콘" />
                        </div>
                        <p class="smartt_section_1_title1">시린이</p>
                        <p class="smartt_section_1_desc1">
                            물만 마셔도 시린 이, 마모일까 균열일까? <br />
                            민감성 치아는 민감한 관리가 필요합니다
                        </p>
                    </div>
                </div>
            </div>
            <div class="smartt_section smartt_section_bg_gray">
                <div class="center">
                    <div class="wisdomt_section_2">
                        <p class="smartt_section_2_title1">시린이 증상 CHECK LIST </p>
                        <div class="smartt_section_2_ulwrap">
                            <ul class="smartt_section_2_ul">
                                <li class="smartt_section_2_li">
                                    <p class="smartt_section_2_desc">이가 시리고 시큰거려요</p>
                                </li>
                                <li class="smartt_section_2_li">
                                    <p class="smartt_section_2_desc">찬물을 마시면 전체 치아가 시려요 </p>
                                </li>
                                <li class="smartt_section_2_li">
                                    <p class="smartt_section_2_desc">이가 시려서 양치하기 힘들어요 </p>
                                </li>
                                <li class="smartt_section_2_li">
                                    <p class="smartt_section_2_desc">치아와 잇몸의 인접 부위가 패였어요</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="smartt_section">
                <div class="center">
                    <div class="smartt_section_3">
                        <p class="smartt_section_3_title1">시린이 원인과 진료 과정</p>
                        <div class="smartt_section_3_tablewrap">
                            <table class="smartt_section_3_table">
                                <colgroup>
                                    <col style="width: 150px;">
                                    <col style="width: 525px;">
                                    <col style="width: 525px;">
                                </colgroup>
                                <thead>
                                    <tr class="smartt_section_3_tr">
                                        <td class="smartt_section_3_td"></td>
                                        <td class="smartt_section_3_td">치경부 마모증</td>
                                        <td class="smartt_section_3_td">치아 균열</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="smartt_section_3_tr">
                                        <td class="smartt_section_3_td">발생원인</td>
                                        <td class="smartt_section_3_td">
                                            - ‘좌우로 박박’ 잘못된 양치질 <br />
                                            - 이를 갈거나 악 무는 습관<br />
                                            - 질긴 음식, 신 과일, 주스 잦은 섭취<br />
                                            - 치주질환으로 잇몸 손상<br />
                                        </td>
                                        <td class="smartt_section_3_td">
                                            - 딱딱한 음식 잦은 섭취 <br />
                                            - 한쪽으로 음식 씹는 습관 <br />
                                            - 강한 물리적 충격 또는 치아보다 큰 수복물 <br />
                                            - 노화로 인한 치아 약화 <br />

                                        </td>
                                    </tr>
                                    <tr class="smartt_section_3_tr">
                                        <td class="smartt_section_3_td">정의</td>
                                        <td class="smartt_section_3_td">
                                            치아와 잇몸의 경계부인 치경부가 닳아 치근과 <br />
                                            상아질이 노출된 상태
                                        </td>
                                        <td class="smartt_section_3_td">
                                            치아의 씹는 면의 골짜기 부분을 플라스틱 계열의 <br />
                                            물질로 코팅
                                        </td>
                                    </tr>
                                    <tr class="smartt_section_3_tr">
                                        <td class="smartt_section_3_td">치료방법</td>
                                        <td class="smartt_section_3_td">
                                            치경부를 다듬고 치아색과 유사한 레진으로 <br />
                                            마모 부위를 메우고 상아질을 감싸 치수로 전달되는 <br />
                                            자극을 막아줍니다
                                        </td>
                                        <td class="smartt_section_3_td">
                                            방문 횟수가 1 ~2회로 시간 부담 적으며, <br />
                                            어금니 충치 예방에 효과적 통증이 없음
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="smartt_section_3_des1">
                            치아에 찬 것이 닿아 통증을 느끼는것이 시린이증상입니다. 치아는 법랑질, 상아질, 치수, 치조골, 치주 인대, 잇몸으로 구성되는데요 <br />
                            치아의 표면을 덮는 법랑질이 손상되거나 치아에 균열이 생기면 치수 조직으로 자극이 전달돼 이가 시린 증상이 나타납니다
                        </p>
                    </div>
                </div>
            </div>
            <div class="smartt_section smartt_section_bg_gray">
                <div class="center">
                    <div class="smartt_section_4">
                        <p class="smartt_section_4_title1">생활 속 시린이 관리법 </p>
                        <div class="smartt_section_4_ulwrap">
                            <ul class="smartt_section_4_ul">
                                <li class="smartt_section_4_li">
                                    <p class="smartt_section_2_desc">단단하고 질긴 음식, 산이 강한 음식 섭취 줄이기</p>
                                </li>
                                <li class="smartt_section_4_li">
                                    <p class="smartt_section_2_desc">꼼꼼하고 올바른 칫솔질 </p>
                                </li>
                                <li class="smartt_section_4_li">
                                    <p class="smartt_section_2_desc">이를 악 무는 습관, 이갈이 고치기 </p>
                                </li>
                                <li class="smartt_section_4_li">
                                    <p class="smartt_section_2_desc">일 년에 한 번 치과검진, 정기적인 스케일링 </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dentures_section">
                <div class="center">
                    <div class="dentures_section_1">
                        <div class="section_icon">
                            <img src="//cdn.gdajdental.gdaj/img/assets/dentures_icon.png" alt="아이콘" />
                        </div>
                        <p class="dentures_section_1_title1">틀니</p>
                        <p class="dentures_section_1_desc1">
                            좋은 틀니는 내 이처럼 편안합니다 <br />
                            정교하게, 정확하게, 정성 들여 만들어 드립니다
                        </p>
                    </div>
                </div>
            </div>
            <div class="dentures_section dentures_section_bg_gray">
                <div class="center">
                    <div class="dentures_section_2">
                        <p class="dentures_section_2_title1">광덕안정 틀니의 특징 </p>
                        <div class="dentures_section_2_ulwrap">
                            <ul class="dentures_section_2_ul">
                                <li class="dentures_section_2_li">
                                    <p class="dentures_section_2_desc">치아와 잇몸이 내 것처럼 자연스러워요</p>
                                </li>
                                <li class="dentures_section_2_li">
                                    <p class="dentures_section_2_desc">씹는 즐거움을 느낄 수 있어요 </p>
                                </li>
                                <li class="dentures_section_2_li">
                                    <p class="dentures_section_2_desc">들썩거리거나 쉽게 빠지지 않아요 </p>
                                </li>
                                <li class="dentures_section_2_li">
                                    <p class="dentures_section_2_desc">혀와 뺨에 닿지 않아 아프지 않아요</p>
                                </li>
                                <li class="dentures_section_2_li">
                                    <p class="dentures_section_2_desc">정확하게 발음하며 대화할 수 있어요 </p>
                                </li>
                                <li class="dentures_section_2_li">
                                    <p class="dentures_section_2_desc">구강 변화에 맞춰 언제든 정밀하게 조정해 드려요</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dentures_section">
                <div class="center">
                    <div class="dentures_section_3">
                        <p class="dentures_section_3_title1">틀니 종류</p>
                        <div class="dentures_section_3_tablewrap">
                            <table class="dentures_section_3_table">
                                <colgroup>
                                    <col style="width: 150px;">
                                    <col style="width: 350px;">
                                    <col style="width: 350px;">
                                    <col style="width: 350px;">
                                </colgroup>
                                <thead>
                                    <tr class="dentures_section_3_tr">
                                        <td class="dentures_section_3_td"></td>
                                        <td class="dentures_section_3_td">전체 틀니</td>
                                        <td class="dentures_section_3_td">부분 틀니</td>
                                        <td class="dentures_section_3_td">임플란트 틀니</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="dentures_section_3_tr">
                                        <td class="dentures_section_3_td">정의</td>
                                        <td class="dentures_section_3_td">
                                            전체 치아에 적용하는 틀니
                                        </td>
                                        <td class="dentures_section_3_td">
                                            치아 일부에만 적용하는 틀니
                                        </td>
                                        <td class="dentures_section_3_td">
                                            임플란트를 심은 부위에 고정하는 <br />
                                            부분 틀니
                                        </td>
                                    </tr>
                                    <tr class="dentures_section_3_tr">
                                        <td class="dentures_section_3_td">시술대상</td>
                                        <td class="dentures_section_3_td">
                                            치아가 하나도 없거나 <br />
                                            치아를 모두 빼야 하는 경우
                                        </td>
                                        <td class="dentures_section_3_td">
                                            한쪽 또는 양쪽 어금니가 없거나 <br />
                                            부분적으로 치아를 상실한 경우
                                        </td>
                                        <td class="dentures_section_3_td">
                                            남아 있는 치아가 거의 없는 경우
                                        </td>
                                    </tr>
                                    <tr class="dentures_section_3_tr">
                                        <td class="dentures_section_3_td">치료방법</td>
                                        <td class="dentures_section_3_td">
                                            치조골이 부족하면 사용감이 좋고 <br />
                                            수리하기가 수월한 비메탈 틀니를 <br />
                                            제작하며, 치조골이 비교적 튼튼하면 <br />
                                            중앙 파절을 방지하고 저작에 무리가 <br />
                                            가지 않는 메탈 틀니로 시술합니다
                                        </td>
                                        <td class="dentures_section_3_td">
                                            틀니 주변 치아를 최소한으로 <br />
                                            삭제한 후, 환자 치아 상태에 맞춰 <br />
                                            틀니를 거는 금속과 씹는 면을 <br />
                                            정밀하게 제작합니다
                                        </td>
                                        <td class="dentures_section_3_td">
                                            상악과 하악에 소량의 임플란트를<br />
                                            식립하고 그 위에 틀니를 올리는<br />
                                            방법으로, 틀니의 단점은 보완하면서<br />
                                            임플란트의 효과를 발휘할 수 <br />
                                            있습니다
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="dentures_section_3_des1">
                            치아에 찬 것이 닿아 통증을 느끼는것이 시린이증상입니다. 치아는 법랑질, 상아질, 치수, 치조골, 치주 인대, 잇몸으로 구성되는데요 <br />
                            치아의 표면을 덮는 법랑질이 손상되거나 치아에 균열이 생기면 치수 조직으로 자극이 전달돼 이가 시린 증상이 나타납니다
                        </p>
                    </div>
                </div>
            </div>
            <div class="dentures_section dentures_section_bg_gray">
                <div class="center">
                    <div class="dentures_section_4">
                        <p class="dentures_section_4_title1">건강한 틀니 관리법 </p>
                        <div class="dentures_section_4_ulwrap">
                            <ul class="dentures_section_4_ul">
                                <li class="dentures_section_4_li">
                                    <p class="dentures_section_2_desc">건강한 틀니 관리법</p>
                                </li>
                                <li class="dentures_section_4_li">
                                    <p class="dentures_section_2_desc">취침 시 틀니를 잘 씻은 뒤 찬물에 담가 보관 </p>
                                </li>
                                <li class="dentures_section_4_li">
                                    <p class="dentures_section_2_desc">너무 강한 힘으로 끼거나 빼지 않기  </p>
                                </li>
                                <li class="dentures_section_4_li">
                                    <p class="dentures_section_2_desc">틀니가 잘 맞지 않거나 불편하면 치과 내원하여 조정</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock body_info %}