{% extends "base.html" %}
{% load static %}
{% block page_title %}메인화면{% endblock page_title %}
{% block head_info %}

    <meta name="title" content="광덕안정치과의원" />
    <meta name="description" content="광덕안정치과의원 메인 페이지" />
    <meta name="keywords" content="광덕안정치과의원,광덕안정,치과,치과병원" />
    <meta name="subject" content="광덕안정치과의원" />
    <meta property="og:title" content="광덕안정치과의원" />
    <meta property="og:description" content="광덕안정치과의원" />
    <meta name="twitter:title" content="광덕안정치과의원" />
    <meta name="twitter:description" content="광덕안정치과의원 메인 페이지" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
    <script src="//cdn.gdajdental.gdaj/js/common.js"></script>
    <style media="" data-href="https://unpkg.com/aos@2.3.1/dist/aos.css"></style>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "lib/swiper.min.js"%}"></script>
    <script src="{% static "lib/jquery-ui.min.js"%}"></script>
{% endblock head_info %}
{% block script_info %}

    <style>
        {% comment %} for loginform from sub.css {% endcomment %}
        .counsel_write_btn .counsel_cancel {
            background-color: #b8b8b8;
            color: #ffffff;
        }
        .counsel_write_btn button {
            width: 90px;
            height: 45px;
            border: 1px solid #b8b8b8;
            border-radius: 5px;
            font-size: 16px;
        }
    
        .hd_pops {
            position: absolute;
            border: 1px solid #e9e9e9;
            background: #fff;
            z-index: 2000;
        }
        .hd_pops img {
            max-width: 100%;
        }
        .hd_pops_footer {
            padding: 0;
            background: #000;
            color: #fff;
            text-align: left;
            position: relative;
        }
        .hd_pops_footer .hd_pops_reject {
            background: #000;
            text-align: left;
        }
    
        .hd_pops_footer button {
            padding: 10px;
            border: 0;
            color: #fff;
            cursor: pointer;
        }
        .hd_pops_footer .hd_pops_close {
            background: #393939;
            position: absolute;
            top: 0;
            right: 0;
        }
    </style>    
    <script>
            $(document).ready(function () {
                // Navigation menu scroll event
                $('#sech').css('opacity', 0);
                document.addEventListener('scroll', ()=> {
                    console.log(document.documentElement.scrollTop)
                    if(document.documentElement.scrollTop > 1080){
                        $('#sech').css('opacity', 1);
                    }else{
                        $('#sech').css('opacity', 0);
                    }
                })
            })
    </script>
    <style>
            #sech{
                transition: opacity 0.5s;
            }
    </style>
    <script>
        function set_cookie(name, value, expirehours, domain)
            {
                var today = new Date();
                today.setTime(today.getTime() + (60*60*1000*expirehours));
                document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + today.toGMTString() + ";";
                if (domain) {
                    document.cookie += "domain=" + domain + ";";
                }
            }
        $(document).ready(function(){
            // Popup Button
                $(function() {
                    $(".hd_pops_reject").click(function() {
                        var id = $(this).attr('class').split(' ');
                        var ck_name = id[1];
                        var exp_time = parseInt(id[2]);
                        $("#"+id[1]).css("display", "none");
                        set_cookie(ck_name, 1, exp_time, '.'+location.host);
                    });
                    $('.hd_pops_close').click(function() {
                        var idb = $(this).attr('class').split(' ');
                        $('#'+idb[1]).css('display','none');
                    });
                });
        })
    </script>
{% endblock script_info %}
{% block body_info %}
    <!-- 메인 배너 슬라이더 -->
    <div class="swiper swiper-container-initialized swiper-container-horizontal" id="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="3" style="width: 736px;">
                <div class="text">
                        <p>Gdaj Dental Difference</p>
                        <h1>
                            치아미백치료, <br>
                            이제 하루면 충분합니다.
                        </h1>
                        <p>
                            1일 3회 미백 집중 시술로 더 큰 효과를 눈으로 직접 확인 할수 있습니다. <br>
                            특수 미백제로 1일 내원시 3번의 집중 시술이 가능하여 단 시간에 치아를 하얗게 만들어 드립니다.
                        </p>
                        <p class="arrow">
                            <a href="/beauty/1day"><img src="{% static "img/assets/nextarrow.png" %}" alt="바로가기"></a>
                        </p>
                </div>
                <img src="{% static "img/assets/btypebg4.png" %}" alt="치아미백치료 배너사진">
            </div>
            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" style="width: 1011px;">
                    <div class="text">
                        <p data-aos="fade-up" data-aos-duration="1000" class="aos-init aos-animate">Gdaj Dental Difference</p>
                        <h1 data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" class="aos-init aos-animate">
                            수술없이 아름답게<br>
                            광덕안정치아교정
                        </h1>
                        <p data-aos="fade" data-aos-delay="1000" data-aos-duration="600" class="aos-init aos-animate">
                            광덕안정치과는 돌출입,주걱턱,비대칭도 수술없이 치아교정만으로 치료가능합니다. <br>
                            이상적인 각도와 비율로 아름다운 얼굴 라인을 완성합니다.
                        </p>
                        <p class="arrow">
                            <a href="/align"><img src="{% static "img/assets/nextarrow.png" %}" alt="바로가기"></a>
                        </p>
                    </div>
                    <img src="{% static "img/assets/btypebg.png" %}" alt="치아교정 배너사진">
            </div>
            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" style="width: 1011px;">
                <div class="text">
                    <p>Gdaj Dental Difference</p>
                    <h1>
                        작은 부분도 놓치지 <br>
                        않는 충치
                    </h1>
                    <p>
                        자연치아 살리기 중심 치료, 광덕안정치과는 자연치아를 소중하게 생각합니다.
                    </p>
                    <!-- 20211231 수정 시작  -->
                    <p class="arrow">
                        <a href="/gnral/type"><img src="{% static "img/assets/nextarrow.png" %}" alt="바로가기"></a>
                    </p>
                    <!-- 20211231 수정 끝  -->
                </div>
                <img src="{% static "img/assets/btypebg2.png" %}" alt="충치 배너사진">
            </div>
            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" style="width: 1011px;">
                <div class="text">
                    <p>Gdaj Dental Difference</p>
                    <h1>
                        자연치아와 같은 편안함 <br>
                        광덕안정 임플란트
                    </h1>
                    <p>
                        임플란트 크기, 길이부터 맞춤형 보철까지 정품재료만을 사용하고 <br>
                        구강구조에 맞춰 제작해 자연치에 더 가까운 맞춤형 보철만 사용합니다.

                    </p>
                    <!-- 20211231 수정 시작  -->
                    <p class="arrow">
                        <a href="/implant"><img src="{% static "img/assets/nextarrow.png" %}" alt="바로가기"></a>
                    </p>
                    <!-- 20211231 수정 끝  -->
                </div>
                <img src="{% static "img/assets/btypebg3.png" %}" alt="임플란트 배너사진">
            </div>
            <div class="swiper-slide" data-swiper-slide-index="3" style="width: 1011px;">
                <div class="text">
                    <p>Gdaj Dental Difference</p>
                    <h1>
                        치아미백치료, <br>
                        이제 하루면 충분합니다.
                    </h1>
                    <p>
                        1일 3회 미백 집중 시술로 더 큰 효과를 눈으로 직접 확인 할수 있습니다. <br>
                        특수 미백제로 1일 내원시 3번의 집중 시술이 가능하여 단 시간에 치아를 하얗게 만들어 드립니다.

                    </p>
                    <!-- 20211231 수정 시작  -->
                    <p class="arrow">
                        <a href="/beauty/1day"><img src="{% static "img/assets/nextarrow.png" %}" alt="바로가기"></a>
                    </p>
                    <!-- 20211231 수정 끝  -->
                </div>
                <img src="{% static "img/assets/btypebg4.png" %}" alt="치아미백치료 배너사진">
            </div>
            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" style="width: 1011px;">
                <div class="text">
                    <p data-aos="fade-up" data-aos-duration="1000" class="aos-init aos-animate">Gdaj Dental Difference</p>
                    <h1 data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" class="aos-init aos-animate">
                        수술없이 아름답게<br>
                        광덕안정치아교정
                    </h1>
                    <p data-aos="fade" data-aos-delay="1000" data-aos-duration="600" class="aos-init aos-animate">
                        광덕안정치과는 돌출입,주걱턱,비대칭도 수술없이 치아교정만으로 치료가능합니다. <br>
                        이상적인 각도와 비율로 아름다운 얼굴 라인을 완성합니다.
                    </p>
                    <p class="arrow">
                        <a href="/align"><img src="{% static "img/assets/nextarrow.png" %}" alt="바로가기"></a>
                    </p>
                </div>
                <img src="{% static "img/assets/btypebg.png" %}" alt="치아교정 배너사진">
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 2"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>

    <header id="sech" style="opacity: 0;">
        <nav>
            <!-- 햄버거 버튼 누르면 자바스크립트로 사이드메뉴 열리게 해주세요. -->
            <div class="l">
                <!-- 20211109 수정 시작 (아이콘 변경)-->
                <a href="javascript:void(0);" class="menuicon" id="menuicon">
                    <img src="/static/img/assets/main_menuicon.png" alt="메뉴 버튼">
                </a>
                <!-- 20211109 수정 끝 -->
                <h1 class="logo">
                    <a href="/">
                        <img src="/static/img/assets/logo.png" alt="로고">
                    </a>
                </h1>
            </div>
            <ul class="menu">
                <li><a href="/intro">치과소개</a></li>
                <li><a href="/implant">임플란트</a></li>
                <li><a href="/align">치아교정</a></li>
                <li><a href="/beauty">심미치료</a></li>
                <li><a href="/general">일반치료</a></li>
                <li><a href="/notice">커뮤니티</a></li>
                <!-- 20211231 수정 시작  -->
                <li><a href="https://map.naver.com/v5/entry/place/1601243099?placePath=%2Fbooking%3FbookingRedirectUrl=https:%2F%2Fm.booking.naver.com%2Fbooking%2F13%2Fbizes%2F576526%26entry=plt" target="_blank">온라인 예약</a></li>
                <!-- 20211231 수정 끝  -->
            </ul>
            <!-- 20211231 수정 시작  -->
            <div class="r">
                <div class="login_wrap" style="margin-right: 1.5em; color: #000; cursor:pointer;">
                    <span id="login_btn2" class="login_btn_pop">로그인</span>
                </div>
                <div class="selwrap">
                    <div id="top_category" class="select">
                        <a href="javascript:void(0);">
                            <!-- 20211109 수정 시작(이미지변경) -->
                            <span>지점안내</span>
                            <img class="top_category_more_b2" src="/static/img/assets/expand_more_b2.png" alt="확장">
                            <img class="top_category_more" src="/static/img/assets/expand_more2.png" alt="확장">

                        </a>
                    </div>
                    <div class="seltogether" id="top_category_sub">
                        <a href="/branch/isu/"><span>이수점(대표)</span></a>
                    </div>
                    <!-- 20211109 수정 끝 -->
                </div>
            </div>
            <!-- 20211231 수정 끝  -->
        </nav>
    </header>

    <div class="container">
        <div class="page" id="gdaj">
            <div class="center">
                <h1 data-aos="zoom-out" data-aos-easing="ease-in-out" class="aos-init">GDAJ Dental Clinic</h1>
                <ul>
                    <li data-aos="flip-left" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="true" class="aos-init">
                        <a href="/implant">
                            <div class="imgbox ">
                                <img src="/static/css/img/implant.png" alt="임플란트">
                                <div class="text">
                                    <p>임플란트</p>
                                    <img src="/static/img/assets/line.png" alt="선">
                                    <p>내 치아같은 1:1 임플란트</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li data-aos="flip-left" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-out" data-aos-once="true" class="aos-init">
                        <a href="/align">
                            <div class="imgbox">
                                <img src="/static/css/img/orthodontics.png" alt="치아교정">
                                <div class="text ">
                                    <p>치아교정</p>
                                    <img src="/static/img/assets/line.png" alt="선">
                                    <p>수술없이도 아름다운 얼굴라인</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- 20211102 텍스트 수정 시작 -->
                    <li data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200" data-aos-easing="ease-in-out" data-aos-once="true" class="aos-init">
                        <a href="/beauty">
                            <div class="imgbox">
                                <img src="/static/css/img/aesthetic.png" alt="심미치료">
                                <div class="text ">
                                    <p>심미치료</p>
                                    <img src="/static/img/assets/line.png" alt="선">
                                    <p>1일 3회 집중시술! 이제 하루면 충분합니다.</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- 20211102 수정 끝 -->
                </ul>
            </div>
        </div>
        <div class="page" id="exam">
            <div class="bg">
                <div class="text">
                    <!-- 20211102 수정 시작 -->
                    <p data-aos-once="true" data-aos="zoom-in" class="aos-init">최첨단 장비 <span class="bold">3D</span>스캐너</p>
                    <!-- 20211102 수정 끝 -->
                    <p data-aos-once="true" data-aos="zoom-in" data-aos-delay="200" class="aos-init">광덕안정 치과 구강검진</p>
                    <a href="/branch/isu#equipments2" data-aos-once="true" data-aos="zoom-in" data-aos-delay="400" class="aos-init">
                        <span>자세히보기</span>
                    </a>
                </div>
            </div>
            <div class="center">
                <table>
                    <tbody><tr>
                        <td data-aos-once="true" data-aos="fade" class="aos-init">
                            <a href="/implant">
                                <p>임플란트</p>
                                <img src="/static/img/assets/go_ico1.png" alt="치과 아이콘1">
                            </a>
                        </td>
                        <td data-aos-once="true" data-aos="fade" data-aos-delay="100" class="aos-init">
                            <a href="/align">
                                <p>치아교정</p>
                                <img src="/static/img/assets/go_ico2.png" alt="치과 아이콘2">
                            </a>
                        </td>
                        <!-- 20211119 수정 시작(텍스트) -->
                        <td data-aos-once="true" data-aos="fade" data-aos-delay="200" class="aos-init">
                            <a href="/beauty">
                                <p>치아미백</p>
                                <img src="/static/img/assets/go_ico3.png" alt="치과 아이콘3">
                            </a>
                        </td>
                        <!-- 20211231 수정 시작  -->
                        <td data-aos-once="true" data-aos="fade" data-aos-delay="300" class="aos-init">
                            <a href="/general/type/">
                                <p>충치치료</p>
                                <img src="/static/img/assets/go_ico4.png" alt="치과 아이콘4">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td data-aos-once="true" data-aos="fade" class="aos-init">
                            <a href="/general/type/#scaling">
                                <p>스케일링</p>
                                <img src="/static/img/assets/go_ico5.png" alt="치과 아이콘5">
                            </a>
                        </td>
                        <td data-aos-once="true" data-aos="fade" data-aos-delay="100" class="aos-init">
                            <a href="/general/type/#dentures">
                                <p>틀니</p>
                                <img src="/static/img/assets/go_ico6.png" alt="치과 아이콘6">
                            </a>
                        </td>
                        <td data-aos-once="true" data-aos="fade" data-aos-delay="200" class="aos-init">
                            <a href="/general/type/#preventive">
                                <p>예방치료</p>
                                <img src="/static/img/assets/go_ico7.png" alt="치과 아이콘7">
                            </a>
                        </td>
                        <!-- 20211119 수정 끝 -->
                        <td data-aos-once="true" data-aos="fade" data-aos-delay="300" class="aos-init">
                            <a href="/general/type/#wisdom">
                                <p>사랑니 발치</p>
                                <img src="/static/img/assets/go_ico8.png" alt="치과 아이콘8">
                            </a>
                        </td>
                        <!-- 20211231 수정 끝  -->
                    </tr>
                </tbody></table>
            </div>
        </div>
        <div class="page" id="notice">
            <div class="center">
                <div class="table aos-init" data-aos="fade-up" data-aos-once="true" data-aos-easing="ease-in-out">
                    <h1>공지사항</h1>
                    <!-- 20211231 수정 시작  -->
                    <a href="/notice/">
                        <img src="/static/img/assets/more.png" alt="플러스 아이콘">
                    </a>
                    <!-- 20211231 수정 끝  -->
                    <table>
                        <tbody>
                            <tr class="index_notice__row">
                                <td>
                                    <span class="index_notice__category">이벤트</span>
                                    <a href="/notice/7" class="index_notice__title">광덕안정치과 오픈 1주년 기념 이벤트</a>
                                </td>
                                <td class="index_notice__date">2022.02.03</td>
                            </tr>
                            <tr class="index_notice__row">
                                <td>
                                    <span class="index_notice__category">이벤트</span>
                                    <a href="/notice/4" class="index_notice__title">광덕안정치과 원데이 미백 프로그램 이벤트</a>
                                </td>
                                <td class="index_notice__date">2021.12.31</td>
                            </tr>
                            <tr class="index_notice__row">
                                <td>
                                    <span class="index_notice__category">이벤트</span>
                                    <a href="/notice/6" class="index_notice__title">광덕안정치과 수능&amp;겨울방학 기념 치아교정 이벤트</a>
                                </td>
                                <td class="index_notice__date">2021.11.15</td>
                            </tr>
                            <tr class="index_notice__row">
                                <td>
                                    <span class="index_notice__category">이벤트</span>
                                    <a href="/notice/1" class="index_notice__title">광덕안정치과 여름이벤트 안내</a>
                                </td>
                                <td class="index_notice__date">2021.06.25</td>
                            </tr>
                            <tr class="index_notice__row">
                                <td>
                                    <span class="index_notice__category">이벤트</span>
                                    <a href="/notice/5" class="index_notice__title">광덕안정치과 봄맞이 이벤트 안내</a>
                                </td>
                                <td class="index_notice__date">2021.04.07</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Slider main container -->
                <div class="swiper aos-init swiper-container-initialized swiper-container-horizontal" id="branch" data-aos="fade-up" data-aos-delay="100" data-aos-once="true" data-aos-easing="ease-in-out">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper" style="transform: translate3d(-546px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="2" style="width: 546px;">
                            <div class="text">
                                <p>광덕안정치과 이수점 </p>
                                <a href="tel:02-6339-2875">
                                    02.6339.2875
                                    <img src="/static/img/assets/call.png" alt="광덕안정치과 이수점 전화 아이콘">
                                </a>
                                <table class="brach">
                                    <tbody><tr>
                                        <td>월·수·금</td>
                                        <td>AM 09:30 ~ PM 06:30</td>
                                        <td>토요일</td>
                                        <td>AM 09:30 ~ PM 02:00</td>
                                    </tr>
                                    <tr>
                                        <td>화·목</td>
                                        <td>AM 09:30 ~ PM 09:00</td>
                                        <td>점심시간</td>
                                        <td>PM 01:00 ~ PM 02:00</td>
                                    </tr>
                                </tbody></table>
                            </div>
                            <img src="/static/css/img/buildingbg.png" alt="빌딩 배경">
                        </div>
                        <!-- Slides -->
                        <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 546px;">
                            <div class="text">
                                <p>광덕안정치과 이수점</p>
                                <a href="tel:02-6339-2875">
                                    02.6339.2875
                                    <img src="/static/img/assets/call.png" alt="광덕안정치과 이수점 전화 아이콘">
                                </a>
                                <table class="brach">
                                    <tbody><tr>
                                        <td>월·수·금</td>
                                        <td>AM 09:30 ~ PM 06:30</td>
                                        <td>토요일</td>
                                        <td>AM 09:30 ~ PM 02:00</td>
                                    </tr>
                                    <tr>
                                        <td>화·목</td>
                                        <td>AM 09:30 ~ PM 09:00</td>
                                        <td>점심시간</td>
                                        <td>PM 01:00 ~ PM 02:00</td>
                                    </tr>
                                </tbody></table>
                            </div>
                            <img src="/static/css/img/buildingbg.png" alt="빌딩 배경">
                        </div>
                        <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="width: 546px;">
                            <div class="text">
                                <p>광덕안정치과 이수점 </p>
                                <a href="tel:02-6339-2875">
                                    02.6339.2875
                                    <img src="/static/img/assets/call.png" alt="광덕안정치과 이수점 전화 아이콘">
                                </a>
                                <table class="brach">
                                    <tbody><tr>
                                        <td>월·수·금</td>
                                        <td>AM 09:30 ~ PM 06:30</td>
                                        <td>토요일</td>
                                        <td>AM 09:30 ~ PM 02:00</td>
                                    </tr>
                                    <tr>
                                        <td>화·목</td>
                                        <td>AM 09:30 ~ PM 09:00</td>
                                        <td>점심시간</td>
                                        <td>PM 01:00 ~ PM 02:00</td>
                                    </tr>
                                </tbody></table>
                            </div>
                            <img src="/static/css/img/buildingbg.png" alt="빌딩 배경">
                        </div>
                        <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="2" style="width: 546px;">
                            <div class="text">
                                <p>광덕안정치과 이수점 </p>
                                <a href="tel:02-6339-2875">
                                    02.6339.2875
                                    <img src="/static/img/assets/call.png" alt="광덕안정치과 이수점 전화 아이콘">
                                </a>
                                <table class="brach">
                                    <tbody><tr>
                                        <td>월·수·금</td>
                                        <td>AM 09:30 ~ PM 06:30</td>
                                        <td>토요일</td>
                                        <td>AM 09:30 ~ PM 02:00</td>
                                    </tr>
                                    <tr>
                                        <td>화·목</td>
                                        <td>AM 09:30 ~ PM 09:00</td>
                                        <td>점심시간</td>
                                        <td>PM 01:00 ~ PM 02:00</td>
                                    </tr>
                                </tbody></table>
                            </div>
                            <img src="/static/css/img/buildingbg.png" alt="빌딩 배경">
                        </div>
                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 546px;">
                            <div class="text">
                                <p>광덕안정치과 이수점</p>
                                <a href="tel:02-6339-2875">
                                    02.6339.2875
                                    <img src="/static/img/assets/call.png" alt="광덕안정치과 이수점 전화 아이콘">
                                </a>
                                <table class="brach">
                                    <tbody><tr>
                                        <td>월·수·금</td>
                                        <td>AM 09:30 ~ PM 06:30</td>
                                        <td>토요일</td>
                                        <td>AM 09:30 ~ PM 02:00</td>
                                    </tr>
                                    <tr>
                                        <td>화·목</td>
                                        <td>AM 09:30 ~ PM 09:00</td>
                                        <td>점심시간</td>
                                        <td>PM 01:00 ~ PM 02:00</td>
                                    </tr>
                                </tbody></table>
                            </div>
                            <img src="/static/css/img/buildingbg.png" alt="빌딩 배경">
                        </div></div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide">
                        <img src="/static/img/assets/nextarrow_w.png" alt="다음버튼">
                    </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
            </div>
        </div>
    </div>
    <div class="page" id="covidimg">
        <div class="center">
            <img src="/static/css/img/banner2.png" alt="광덕안정치과 코로나 19 방역" />
        </div>
    </div>
{% endblock body_info %}

{% block main_script %}
<script>
    $(document).ready(function(){
        $.ajax({
            url: "/notice/fetch",
            method: 'get',
            success: function (result) {
                result.forEach((elem, idx) => {
                    document.querySelectorAll('.index_notice__category')[idx].innerText = elem.category_name
                    document.querySelectorAll('.index_notice__title')[idx].innerText = elem.title; 
                    document.querySelectorAll('.index_notice__title')[idx].href=`/notice/${elem.id}`
                    document.querySelectorAll('.index_notice__date')[idx].innerText = elem.publish_date.replaceAll('-','.')
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
            },
        })
    })
</script>
<script>
        AOS.init();
        $(document).ready(function () {
            // main menu 대표, 지점 관련 jquery
            $("#main_top_category").mouseenter(function () {
                $('#main_top_category_sub').css({
                    'display': 'block'
                });
                return false;
            });
            $('#main_top_category_sub').mouseleave(function () {
                $('#main_top_category_sub').fadeOut();
                return false;
            });
            $(".login_btn_pop").click(function () {
                $('#login').show();
                return false;
            });
        });
</script>
{% endblock main_script %}