{% extends "base.html" %}
{% load static %}
{% block page_title %}원데이 치아미백{% endblock page_title %}
{% block head_info %}
    <meta name="title" content="광덕안정치과의원 치아미백" />
    <meta name="keywords" content="광덕안정치과의원,광덕안정,치과,치과병원,치아미백" />
    <meta name="description" content="광덕안정치과의원 치아미백 " />
    <meta name="subject" content="광덕안정치과의원 치아미백 " />
    <meta property="og:title" content="광덕안정치과의원 치아미백" />
    <meta property="og:description" content="광덕안정치과의원 치아미백 " />
    <meta name="twitter:title" content="광덕안정치과의원 치아미백 " />
    <meta name="twitter:description" content="광덕안정치과의원 치아미백 페이지" />
    <link rel="stylesheet" href="{% static "css/sub_whitening.css" %}" />
    {% include "mixins/sub_style.html" %}
{% endblock head_info %}

{% block body_info %}
        <div class="container">
            <div class="pagetop pagetop4">
                <div class="page_hgroup com">
                    <h1>심미치료</h1>
                    <ul class="catewrap">
                        <li class="category category600">
                            <a href="#">치아미백 노하우</a>
                        </li>
                        <li class="category category600  active">
                            <a href="#">미백프로그램</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ort_contents">
            <div class="whitening_section">
                <div class="center">
                    <div class="whitening_section_1 int">
                        <div class="tt">
                            <img src="//cdn.gdajdental.gdaj/img/assets/aes_ico.png" alt="치아미백 아이콘" />
                            <p class="whitening_section_1_text1">광덕안정 원데이 치아미백</p>
                            <p class="whitening_section_1_text2">프로그램의 특별함</p>
                            <p class="whitening_section_1_desc">광덕안정은 식약청 허가를 통하여 안전성 검증을 받고 효과가 뛰어난 오스템 뷰티스 미백 제품을
                                사용합니다</p>
                        </div>
                        <ul class="whitening_section_1_ul">
                            <li class="whitening_section_1_li">
                                <div class="whitening_section_1_t">
                                    <p class="whitening_section_1_num">01</p>
                                    <p class="whitening_section_1_title1">1일 3회 집중 진료를 통한</p>
                                    <p class="whitening_section_1_title2">뛰어난 미백효과</p>
                                    <p class="whitening_section_1_desc">단시간 내 집중 치료를 통한 만족스러운 결과를 만듭니다</p>
                                </div>
                                <div class="whitening_section_1_img">
                                    <img src="//cdn.gdajdental.gdaj/img/sub/whitening/whitening_section_1_1.jpg"
                                        alt="" />
                                </div>
                            </li>
                            <li class="whitening_section_1_li">
                                <div class="whitening_section_1_t">
                                    <p class="whitening_section_1_num">02</p>
                                    <p class="whitening_section_1_title1">안정성을 입증 받은</p>
                                    <p class="whitening_section_1_title2">정품 치아미백제 사용</p>
                                    <p class="whitening_section_1_desc">입증된 고농도 미백제 사용으로 안전한 치료를 행합니다</p>
                                </div>
                                <div class="whitening_section_1_img">
                                    <img src="//cdn.gdajdental.gdaj/img/sub/whitening/whitening_section_1_2.jpg"
                                        alt="" />
                                </div>
                            </li>
                            <li class="whitening_section_1_li">
                                <div class="whitening_section_1_t">
                                    <p class="whitening_section_1_num">03</p>
                                    <p class="whitening_section_1_title1">정밀검진, 치아 컨디셔닝 후</p>
                                    <p class="whitening_section_1_title2">미백 시술 진행</p>
                                    <p class="whitening_section_1_desc">시술 전 정밀검진과 스케일링을 통해 미백 효과를 높입니다</p>
                                </div>
                                <div class="whitening_section_1_img">
                                    <img src="//cdn.gdajdental.gdaj/img/sub/whitening/whitening_section_1_3.jpg"
                                        alt="" />
                                </div>
                            </li>
                            <li class="whitening_section_1_li">
                                <div class="whitening_section_1_t">
                                    <p class="whitening_section_1_num">04</p>
                                    <p class="whitening_section_1_title1">전체적인 밸런스를 고려한</p>
                                    <p class="whitening_section_1_title2">최적의 미백 치료</p>
                                    <p class="whitening_section_1_desc">단순히 하얗게 만드는 것이 아닌, 가장 알맞은 색을 찾습니다</p>
                                </div>
                                <div class="whitening_section_1_img">
                                    <img src="//cdn.gdajdental.gdaj/img/sub/whitening/whitening_section_1_4.jpg"
                                        alt="" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="whitening_section">
                <div class="whitening_section_2">
                    <div class="left">
                        <p class="whitening_section_2_title1">광덕안정 치과</p>
                        <p class="whitening_section_2_title2">원데이 미백 프로그램</p>
                        <p class="whitening_section_2_desc1">원데이 미백 프로그램 1일 3회 <span>최대 50%할인쿠폰</span>을 드려요</p>
                        <div class="none">
                            원데이 미백 프로그램 33% OFF 10만원 1일 1회 진행시
                            원데이 미백 프로그램 50% OFF 20만원 1일 3회 진행시
                        </div>
                    </div>
                </div>
            </div>
            <div class="whitening_section">
                <div class="center">
                    <div class="whitening_section_3">
                        <p class="whitening_section_3_line"></p>
                        <p class="whitening_section_3_text">FAQ</p>
                        <p class="whitening_section_3_desc">환자들이 자주 묻는치아미백에 관한 궁금증</p>
                        <ul class="whitening_section_3_ul">
                            <li class="whitening_section_3_li">
                                <div>Q.</div>
                                <div>정말 하루만에 효과를 볼 수 있을까요?</div>
                            </li>
                            <li class="whitening_section_3_li">
                                <div>A.</div>
                                <div>네, 볼 수 있습니다.<br />광덕안정 원데이 치아미백 프로그램은 1번의 전문가 미백 시술을 1일 내 3회에 걸쳐 진행하는 것으로,<br />기타
                                    전문가 미백 보다 2~3배 밝은 결과를 확인할 수 있습니다.</div>
                            </li>
                            <li class="whitening_section_3_li">
                                <div>Q.</div>
                                <div>광덕안정 원데이 미백의 강점은 무엇인가요?</div>
                            </li>
                            <li class="whitening_section_3_li">
                                <div>A.</div>
                                <div>환자에게 가장 알맞은 밝은 치아색을 찾아드리고 빠르게 효과를 볼 수 있다는 점.<br />그리고 환자의 치아와 구강 건강에 알맞은 치료를 진행한다는
                                    점입니다.</div>
                            </li>
                            <li class="whitening_section_3_li">
                                <div>Q.</div>
                                <div>치아미백, 시리지는 않나요?</div>
                            </li>
                            <li class="whitening_section_3_li">
                                <div>A.</div>
                                <div>광덕안정은 치아미백 진료의 시린 증상 등을 해소하기 위하여 시술 전 치아 컨디셔닝을 진행하고<br />안전함이 입증된 최신 기기를 사용하여, 환자가
                                    느끼는 시린 증상 등을 해소합니다.</div>
                            </li>
                            <li class="whitening_section_3_li">
                                <div>Q.</div>
                                <div>치아미백 오래 유지될 수 있을까요?</div>
                            </li>
                            <li class="whitening_section_3_li">
                                <div>A.</div>
                                <div>관리 방법 및 환자 구강 상태에 따라 다르지만<br />초기 치료가 성공적일 경우 추가 시술 없이 유지하실 수 있습니다.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock body_info %}