{% extends "base.html" %}
{% block page_title %}미백치료 노하우{% endblock page_title %}
{% block head_info %}
    <meta name="title" content="광덕안정치과의원 치아미백" />
    <meta name="keywords" content="광덕안정치과의원,광덕안정,치과,치과병원,치아미백" />
    <meta name="description" content="광덕안정치과의원 치아미백 " />
    <meta name="subject" content="광덕안정치과의원 치아미백 " />
    <meta property="og:title" content="광덕안정치과의원 치아미백" />
    <meta property="og:description" content="광덕안정치과의원 치아미백 " />
    <meta name="twitter:title" content="광덕안정치과의원 치아미백 " />
    <meta name="twitter:description" content="광덕안정치과의원 치아미백 페이지" />
    {% include "mixins/sub_style.html" %}
{% endblock head_info %}

{% block body_info %}
        <div class="container">
            <div class="pagetop pagetop4">
                <div class="page_hgroup com">
                    <h1>심미치료</h1>
                    <ul class="catewrap">
                        <li class="category category600 active">
                            <a href="/beauty">치아미백 노하우</a>
                        </li>
                        <li class="category category600">
                            <a href="/beauty/1day">미백프로그램</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="aes_contents">
            <div class="center">
                <!-- 20211110 수정 시작 (class추가) -->
                <div class="ic int">
                    <div class="tt">
                        <p class="quot quot1">“</p>
                        <p class="t_l_42">치아미백 치료, 이제 하루면 충분합니다</p>
                        <p class="t_b_50">광덕안정치과 치아미백</p>
                        <p class="quot quot2">”</p>
                        <p class="t_m_24">
                            <strong>특수 미백제로 1일 내원 시 3번의 집중 시술</strong> 이 가능하여, 단 시간에 치아를 하얗게 만들어 드립니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="oc btwrap">
                <div class="center ">
                    <p class="t_l_42">누구를 위한 미백 프로그램일까요?</p>
                    <p class="t_b_50">1일 3회 미백 집중 시술</p>
                    <ul>
                        <li>
                            <p>색소침착에 의한 변색으로 고민이신 분</p>
                        </li>
                        <li>
                            <p>치아 색상에 콤플렉스가 있는 분</p>
                        </li>
                        <li>
                            <p>대인관계에 좀 더 좋은 인상을 주고 싶은 분</p>
                        </li>
                        <li>
                            <p>취업이나 결혼을 앞두고 자신감 있게 웃고 싶은 경우</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="oc foc">
                <div class="center">
                    <p class="t_l_42">광덕안정치과는 다릅니다</p>
                    <p class="t_b_50">광덕안정치과 치아미백 프로그램</p>
                    <table>
                        <thead>
                            <tr class="stit">
                                <td>일반 치과 치아미백 프로그램</td>
                                <td class="vs">
                                    <img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/assets/vs2.png" alt="vs">
                                </td>
                                <td>광덕안정치과 치아미백 프로그램</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="fir">10회이상 </td>
                                <td class="sec">방문횟수</td>
                                <td class="thr">최소 1회/최대 3회</td>
                            </tr>
                            <tr>
                                <td class="fir">1회</td>
                                <td class="sec">1일 진행 횟수</td>
                                <td class="thr">1일 3회 집중 시술</td>
                            </tr>
                            <tr>
                                <td class="fir">방문할 때마다 서서히 밝아지는 치아</td>
                                <td class="sec">치아 색 변화</td>
                                <td class="thr">1회 방문만으로도 눈에 띄게 밝아지는 치아</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="beaf" id="bf">
                        <div class="aflog">
                            <img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/aflog.png" alt="1일 3회 미백 집중 시술 변화 사진">
                        </div>
                        
                            <style>
                                .beflog{
                                    position: absolute;
                                    top: 2300px
                                }
                            </style>
                            
    
    <div class="beflog" style="opacity:1;">
        <p class="text">의료법상 치료사례 정보는 로그인 후 확인 가능합니다</p>
        <div class="iconwrap">
            <a href="/auth/kakao/login/?method=oauth2&amp;next=/beauty/#bf" class="kakao">
                <img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/assets/kakao_af.png" alt="카카오 아이콘">
            </a>
            <a href="/auth/naver/login/?method=oauth2&amp;next=/beauty/#bf" class="naver" style="margin-right:10px;">
                <img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/assets/naver.png" alt="네이버 아이콘">
            </a>
            <a href="javascript:;" class="login_btn_pop" onclick="document.querySelectorAll('.login_chunk_buttons a').forEach(i=>i.href+='#bf')
                document.querySelector('.popup_login__button').dataset.next='#bf';">
                <img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/assets/login.png" alt="로그인 아이콘">
            </a>
        </div>
    </div>
                        
                    </div>
                </div>
            </div>
            <div class="oc new">
                <div class="center">
                    <div class="ttext">
                        <p class="t_l_42">효과적인 치아미백을 위한 최신장비</p>
                        <p class="g_b_50">오스템 뷰티스 미백</p>
                    </div>
                    <!-- 20211119 수정 시작 -->
                    <ul>
                        <li>
                            <p class="tt">1시간</p>
                            <hr>
                            <p class="bt1">짧은 치료시간</p>
                        </li>
                        <li>
                            <p class="tt">통증감소</p>
                            <hr>
                            <p class="bt1">시린증상 감소</p>
                        </li>
                        <li>
                            <p class="tt">효과상승</p>
                            <hr>
                            <p class="bt1">탁월한 미백효과</p>
                        </li>
                        <li>
                            <p class="tt">안전성</p>
                            <hr>
                            <p class="bt1">검증된 제품 사용</p>
                        </li>
                    </ul>
                    <!-- 20211119 수정 끝 -->
                    <img class="img" src="//cdn.gdaj.net/dentalweb/cdn/statics/img/aesma.png" alt="오스템 뷰티스 미백 최신장비">
                </div>
            </div>
            <div class="center">
                <div class="ic pro">
                    <div class="tt">
                        <p class="t_b_50">광덕안정치과 치아미백 치료과정</p>
                        <p class="t_r_22">광덕안정치과는 식약청 허가를 통하여 안전성 검증을 받고 효과가 뛰어난 오스템 뷰티스 미백 제품을 사용합니다</p>
                    </div>
                    <ul>
                        <li>
                            <div class="img">
                                <img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/step1.png" alt="STEP1">
                            </div>
                            <div class="twrap">
                                <!-- 20211119 수정 시작 -->
                                <p class="step">STEP 01</p>
                                <p class="des">
                                    시술 전 맞춤치료를 위한 <br>
                                    정밀한 검진과 상담
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/step2.png" alt="STEP2">
                            </div>
                            <div class="twrap">
                                <p class="step">STEP 02</p>
                                <p class="des">
                                    최고의 미백 효과를 위한 <br>
                                    치아 컨디셔닝스케일링 서비스 제공
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/step3.png" alt="STEP3">
                            </div>
                            <div class="twrap">
                                <p class="step">STEP 03</p>
                                <p class="des">잇몸보호제 / 미백제 도포</p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/step4.png" alt="STEP4">
                            </div>
                            <div class="twrap">
                                <p class="step">STEP 04</p>
                                <p class="des">치아미백 광선 치료</p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/step5.png" alt="STEP5">
                            </div>
                            <div class="twrap">
                                <p class="step">STEP 05</p>
                                <p class="des">
                                    3회 집중 치료 후 <br>
                                    정확한 미백 상태 확인
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="//cdn.gdaj.net/dentalweb/cdn/statics/img/step6.png" alt="STEP6">
                            </div>
                            <div class="twrap">
                                <p class="step">STEP 06</p>
                                <!-- 20211119 수정 끝 -->
                                <p class="des">시술 후 주의사항 안내</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock body_info %}
{% block sub_script %}
    {% include "mixins/sub_script.html" %}
{% endblock sub_script %}