{% extends "base.html" %}
{% block page_title %}CI 소개{% endblock page_title %}
{% block head_info %}
    <meta name="title" content="광덕안정치과의원 CI 소개" />
    <meta name="description" content="광덕안정치과의원 CI 소개 페이지" />
    <meta name="keywords" content="광덕안정치과의원,광덕안정,치과,치과병원" />
    <meta name="subject" content="광덕안정치과의원" />
    <meta property="og:title" content="광덕안정치과의원 CI 소개" />
    <meta property="og:description" content="광덕안정치과의원 CI 소개" />
    <meta name="twitter:title" content="광덕안정치과의원 CI 소개" />
    <meta name="twitter:description" content="광덕안정치과의원 CI 소개 페이지" />
    <link rel="stylesheet" href="//cdn.gdajdental.gdaj/css/sub.css" />
{% endblock head_info %}
    

{% block body_info %}
        <div class="container">
            <div class="pagetop pagetop2">
                <div class="page_hgroup com">
                    <h1>치과소개</h1>
                    <ul class="catewrap">
                        <li class="category  category400  ">
                            <a href="#">치과소개</a>
                        </li>
                        <li class="category category400 active">
                            <a href="#">CI소개</a>
                        </li>
                        <li class="category category400 ">
                            <a href="#">지점소개</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contents ciconts">
            <div class="center">
                <div class="dintro_wrap cintro_wrap">
                    <div class="ttext">
                        <h1>CI소개</h1>
                        <p class="stit">
                            광덕안정 브랜드를 담은 CI를 소개합니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="ci_wrap">
                <div class="ci_center">
                    <img src="//cdn.gdajdental.gdaj/img/assets/cilogo.png" alt="광덕안정치과의원 로고 " />
                    <p>
                        광덕안정 시그니처는 방패와 왕관을 결합한 엠블럼에 광덕안정의 이니셜 G, A와 <br />
                        법무법인을 뜻하는 저울, 치과를 뜻하는 치아 이미지를 심플 배치하였으며, <br />
                        방패의 외곽에는 한의원을 상징하는 뿔 이미지를 결합함으로써 <br />
                        광덕안정을 통해 고객들이 체험할 수 있는 분야를 인지시킴과 동시에 프리미엄 이미지를 강조한다. <br /> <br />
                    </p>
                    <div class="btwrap">
                        <a href="#">
                            <span>AI 파일 다운로드</span>
                            <img src="//cdn.gdajdental.gdaj/img/assets/download.png" alt="다운로드 " />
                        </a>
                        <a href="#">
                            <span>PNG 파일 다운로드</span>
                            <img src="//cdn.gdajdental.gdaj/img/assets/download.png" alt="다운로드 " />
                        </a>
                    </div>
                </div>
            </div>
            <div class="center ci_center2">
                <div class="basic">
                    <p class="btit">Basic System</p>
                    <p class="des">
                        가로 국영문 혼합형과 어두운 배경색에서의 반전 타입의 서브 형태를 지원합니다. <br />
                        이 외에 임의로 변형 또는 재조합 사용은 불가합니다.
                    </p>
                    <div class="picwrap">
                        <img src="//cdn.gdajdental.gdaj/img/assets/cilogo2.png" alt="광덕안정치과의원 로고 " />
                        <div class="left">
                            <img class="fir" src="//cdn.gdajdental.gdaj/img/assets/cilogo3.png" alt="광덕안정치과의원 로고 " />
                            <img class="sec" src="//cdn.gdajdental.gdaj/img/assets/cilogo4.png" alt="광덕안정치과의원 로고 " />
                        </div>
                    </div>
                </div>
                <div class="bwrap">
                    <div class="font">
                        <p class="btit">Font Type</p>
                        <!-- 20211206 수정 시작 -->
                        <p class="des">
                            (한글) IBM Plex Sans Bold 
                            &nbsp <span> | </span> &nbsp
                            (영문) IBM Plex Sans Semi Bold <br />

                            자간 : -25 
                            &nbsp <span> | </span> &nbsp
                            장평 : 세로 100%, 가로 96%
                        </p>
                        <!-- 20211206 수정 끝 -->
                    </div>
                    <div class="color">
                        <p class="btit">Color System</p>
                        <ul>
                            <li>
                                <div class="img">
                                    <img src="//cdn.gdajdental.gdaj/img/assets/pricol.png" alt="기본 색" />
                                </div>
                                <div class="twrap">
                                    <p class="ttit">Primary Color</p>
                                    <table>
                                        <colgroup>
                                            <col class="w_100">
                                            <col class="w_140">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td class="sorts">PANTONE</td>
                                                <td>310C </td>
                                            </tr>
                                            <tr>
                                                <td class="sorts">CMYK </td>
                                                <td>58, 0, 14, 0</td>
                                            </tr>
                                            <tr>
                                                <td class="sorts">RGB </td>
                                                <td>99, 207, 227</td>
                                            </tr>
                                            <tr>
                                                <td class="sorts">HEX </td>
                                                <td>#63CFE3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="//cdn.gdajdental.gdaj/img/assets/seccol.png" alt=" 두번째 색" />
                                </div>
                                <div class="twrap">
                                    <p class="ttit">Secondary Color</p>
                                    <table>
                                        <colgroup>
                                            <col class="w_100">
                                            <col class="w_140">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td class="sorts">PANTONE</td>
                                                <td>2768C </td>
                                            </tr>
                                            <tr>
                                                <td class="sorts">CMYK </td>
                                                <td>100, 90, 42, 44</td>
                                            </tr>
                                            <tr>
                                                <td class="sorts">RGB </td>
                                                <td>2, 29, 73</td>
                                            </tr>
                                            <tr>
                                                <td class="sorts">HEX </td>
                                                <td>#021D49</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="//cdn.gdajdental.gdaj/img/assets/seccol2.png" alt=" 두번째 색" />
                                </div>
                                <div class="twrap">
                                    <p class="ttit">Secondary Color</p>
                                    <table>
                                        <colgroup>
                                            <col class="w_100">
                                            <col class="w_140">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td class="sorts">PANTONE</td>
                                                <td>Cool Gray 8 </td>
                                            </tr>
                                            <tr>
                                                <td class="sorts">CMYK </td>
                                                <td>57, 48, 45, 0 </td>
                                            </tr>
                                            <tr>
                                                <td class="sorts">RGB </td>
                                                <td>129, 129, 129</td>
                                            </tr>
                                            <tr>
                                                <td class="sorts">HEX </td>
                                                <td>#818181</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="cm">
                        <p class="btit">Color Meaning</p>
                        <p class="des">
                            블루는 자연친화적인 치유과 진정에 효과적이며, 긴장 해소 및 삶의 변화를 유도하는 색상입니다. <br />
                            #치유 #진정
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock body_info %}