{% extends "base.html" %}
{% block page_title %}지점안내{% endblock page_title %}
{% block head_info %}
    <meta name="title" content="광덕안정치과의원 지점안내" />
    <meta name="description" content="광덕안정치과의원 지점안내" />
    <meta name="keywords" content="광덕안정치과의원,광덕안정,치과,치과병원" />
    <meta name="subject" content="광덕안정치과의원" />
    <meta property="og:title" content="광덕안정치과의원 지점안내" />
    <meta property="og:description" content="광덕안정치과의원 " />
    <meta name="twitter:title" content="광덕안정치과의원 지점안내" />
    <meta name="twitter:description" content="광덕안정치과의원  지점안내 페이지" />
    {% include "mixins/sub_style.html" %}
{% endblock head_info %}
    
{% block body_info %}
        <div class="container">
            <div class="pagetop pagetop2">
                <div class="page_hgroup com">
                    <h1>치과소개</h1>
                    <ul class="catewrap" id="go">
                        <li class="category  category400 ">
                            <a href="/intro">치과소개</a>
                        </li>
                        <li class="category category400 ">
                            <a href="/intro/ci">CI소개</a>
                        </li>
                        <li class="category category400 active">
                            <a href="/intro/branch">지점안내</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contents bnitro_contents">
            <div class="center">
                <div class="sub_branch_contents">
                    <div class="s_b_c_title1">GDAJ Dental Clinic</div>
                    <div class="s_b_c_title2">NETWORK</div>
                    <div class="s_b_c_contents1">광덕안정 네트워크 클리닉</div>
                    <div class="s_b_c_contents2">
                        광덕안정은 각 지점간 원활한 교류와 교육을 통한 표준화된 진료를 구축하여<br />
                        더욱 정밀하고 안전한 의료 서비스를 제공하고,<br />
                        1:1 환자 중심 맞춤 진료와 사후 관리, 나아가 일상의 안정까지 책임집니다.
                    </div>
                    <div class="s_b_c_branch">
                        <ul>
                            {% for branch in branches %}
                                <li><a href="/branch/{{branch.url_name}}">{{branch.branch_name}}</a></li>
                            {% endfor %}
                                {% comment %} <li><a href="/branch/gn">강남점</a></li>
                            <li><a href="/brnach/ddm">동대문점</a></li>
                            <li><a href="/brnach/snu">서울대 입구점</a></li> {% endcomment %}
                        </ul>
                    </div>
                    <div class="s_b_c_map">
                        <img src="/static/img/sub/branch/sub_branch_isu.png" />
                    </div>
                </div>
            </div>
        </div>
{% endblock body_info %}
{% block sub_script %}
    {% include "mixins/sub_script.html" %}
{% endblock sub_script %}